In [6]:
print(3.14)

3.14

In [15]:
print()
print('''''')

## VARIABLE

In [1]:
hours_cat_A=5
days_cat_A=5
rate_level_A=25

emp_cat_A=hours_cat_A*days_cat_A*rate_level_A
Adam_weekly_pay=emp_cat_A
John_weekly_pay=emp_cat_A

print(Adam_weekly_pay)

625

In [2]:
hours_cat_A=8
days_cat_A=5
rate_level_A=25

emp_cat_A=hours_cat_A*days_cat_A*rate_level_A
Adam_weekly_pay=emp_cat_A
John_weekly_pay=emp_cat_A

print(Adam_weekly_pay)

1000

In [3]:
hours_cat_A=25
days_cat_A=5
rate_level_A=5

emp_cat_A=hours_cat_A*days_cat_A/rate_level_A
Adam_weekly_pay=emp_cat_A
John_weekly_pay=emp_cat_A

print(Adam_weekly_pay)

25.0

In [4]:
#Con_PEP_N_RI=Conventional(PEP 8) Naming Rules

In [ ]:
variable name=value
planet='jupyter'
price=140
pi_number=3.14

In [6]:
width=8
height=6
length=2
volume=width*height*length
print(volume)

96

In [7]:
my_age=33
your_age=30
my_age=your_age
print(my_age)

30

In [ ]:
#lowercase is the language of the phyton
#1(one), small el"l" ,uppercase (O)

In [8]:
x=y=z="same"
print(x)
print(y)
print(z)

same
same
same

In [9]:
first_number=100
second_number=first_number
print(second_number)

100

In [10]:
x=15
y=33
z=x
x=y
print(x)
print(y)
print(z)

33
33
15

In [12]:
x = 60
y = 6
z = 10


x = 6
y = 60
z = 6

line-1 → x=z
line-2 → z=y
line-3 → y=x

print(x)
print(y)
print(z)

SyntaxError: invalid character in identifier (<ipython-input-12-803844f04344>, line 10)

##IF-ELSE IF-ELSE(
hours=40
rate=45
if hours<40
Then
pay=hours*rate
else
pay=40*rate+(hours-40)*rate*1.5
output pay
End

In [ ]:
What is Python?

In [ ]:
Q: What is Python?
A: Python is a programming language. It allows you to control the computer. 
The benefits of Pythons are that it is simple and easy, portable, extensible.
- Interview Q&A

In [ ]:
Agility is the hallmark of our times and Python is the programming language of the agile era. 
The Python universal programming language is the turbocharger of the IT department. 
Compared with other modern programming languages such as Java or C, Python achieves superior results 
in significantly shorter timescales for a number of different reasons.
For example, Python is a very lean programming language.
Python programs are a great deal shorter than code written in other modern programming languages.
As a result, both development times and maintenance costs are drastically reduced. 
Less code means fewer errors, meaning the cost of identifying and eliminating these errors is also reduced.

In [ ]:
Python offers unique benefits for system integration. 
On the one hand, there are huge numbers of Python libraries, 
with which virtually any third-party system can be integrated. 
On the other hand, the libraries of many other programming languages 
can also be used in Python.

In [ ]:
This programming language was developed in the early 90s 
by a Dutch programmer called Guido van Rossum.
Guido van Rossum named this programming language inspired 
by the show of Monty Python’s Flying Circus from an English 
comedy group called The Monty Python.

In [ ]:
Matter of Quotes

There are basically two types of quotes we use. Single or double quotes. Both are the same but we should use them 
in the correct way:
•	Use double quotes if your string includes the single one:e.g. "It's my pleasure!"
•	Use single quotes if your string includes the double one:e.g. 'He said: "I am done" and fell down.'
•	Use triple quotes if your string is too long which composed of multiple lines : e.g. :
'''
...long string...
..long string..
'''
Here's an example that shows using double-quotes. Note that, the text (it's not a problem)
below includes a single quote '.

In [102]:
"It's my pleasure!"

"It's my pleasure!"

In [103]:
print("it's not a problem")

it's not a problem

In [ ]:
print('being a good person')

In [104]:
print("success is measured by effort")

success is measured by effort

In [105]:
What does the following code print?

print("x")
print("y")
print()
print("z")

x
y

z

In [106]:
print('We should have enough time for our family")

SyntaxError: EOL while scanning string literal (<ipython-input-106-67ff08d8253d>, line 1)

In [ ]:
Avoid ! :
•	Do not mix two quotes style in one string.
print('We should have enough time for our family") This code gives an error because it starts with single quotes 
      ends with double. See below:

In [ ]:
print('hello it's small world')

In [ ]:
#commenting lines of code can help you debug and figure out which line of code is causing error.
#What is the best way of the fixing ('hello it's small world')....

#Workshop-1
Subject: Basic data types and useful operations
    Learning Goals
    -to work with quotes in strings,
    -to practice basic data types,
    -to consolidate basic boolen operations

In [ ]:
Q: What are the numerical data types in Python and their properties?

    
- Interview Q&A

In [ ]:
A:Integers : they are whole numbers (positive, negative or zero), including no decimal point.For example: 71, -122, 0
Floats : they stand for real numbers with a decimal point.For example: 71.0, -33.03
Complexes : they are written in the form, x + yj , where x is the real part and y is the imaginary part.
For example: 3.14j.
- Interview Q&A

In [ ]:
#Problem 1
write a program that multiples three numbers entered by user. 
Print the output with the format method

In [ ]:
a=int(input("a:"))
b=int(input("b:"))
c=int(input("c:"))  

output = a * b * c

print("{}*{}*{} = {}".format(a, b, c, output))
print(f"{a}*{b}*{c} = {output}")

In [ ]:
5*2*3 = 30
5*2*3 = 30

In [ ]:
#Problem 2
write a program that calculates body mass index 
from height and weight enterd by the user.
Body mass index: weight_kg/(height_m**2)
    bmi=weight_kg/(height_m ** 2)

In [108]:
height_m=float(input("Enter your height (example: 1.85):"))
weight_kg=int(input("Enter your weight (example: 75):"))

print("Body mass index:",weight_kg / (height_m ** 2))

Enter your height (example: 1.85):1.85
Enter your weight (example: 75):75
Body mass index: 21.913805697589478

In [ ]:
#Additional cool questions

In [109]:
name="KS"
height_m=2
weight_kg=90
bmi=weight_kg/(height_m**2)
print("bmi:")
print(bmi)
if bmi<25:
    print(name)
    print("is not overweight")
else:
    print(name)
    print("is overweight")

bmi:
22.5
KS
is not overweight

In [ ]:
#problem 3
With your $200, how many pieces of material can you get for $11 each?
How much money do you have left after buying?

In [ ]:
totalMoney = 200
materialPrice = 11
piece = 200 // 11
remainingMoney = totalMoney % piece
print("With your ${}, {} pieces of material you can get for ${} each.  
The remaining money is ${}".format(totalMoney, piece, materialPrice, remainingMoney))

In [ ]:
## Problem 4 
Get word, seperator and repetition values from the user and 
print the word on the screen accourding to given values.
Ex:word=ali, sep=/, repetition=3---->ali/ali/ali

In [ ]:
word = input("Word: ")
seperator = input("Seperator: ")
repetitions = int(input("repetitions: "))
a = (word + seperator) * (repetitions -1) + word # henry/ * 2 = henry/henry/henry
print(a)
# print(*list([word] * repetitions), sep=seperator)

In [ ]:
#Problem 5
Do not run the code, try to figure out in your mind.
What will be the output of the folowing syntax:
    print(true and false(not true and false)and not(true or false))

In [ ]:
#problem 6

Do not run the code, try to figure out in your mind.
What will be the output of the folowing syntax:
    print(True and False not "False" and None and("None" or None))

In [ ]:
#Problem 7
Do not run the code, try to figure out in your mind.
What will be the output of the folowing syntax:
    print("clarusway" and 0 and not "" and False and ("" or None))

In [ ]:
Task-1:

Write a short Python program that asks the user to enter 
Celsius temperature (it can be a decimal number), converts the entered 
temperature into Fahrenheit degree and prints the result.

In [ ]:
celsius=float(input(22.00))
fahr=(celsius * 9/5) + 32
print("Temperature in Fahrenheit is:",fahr)

In [ ]:
celsius = float(input("enter temperature in celcius:")) 
fahr = (celsius*9/5)+32 
print("Temperature in Fahrenheit is:", fahr)

In [ ]:
celsius= float(input("Enter your Celsius temp to convert it into Fahrenheit: ")) 
fahrenheit=(c*9/5)+32 
print ("Your celsius temperature in Fahrenheit is " + str(fahrenheit))

In [ ]:
Task-2:
Write a short Python program that asks the user to enter a distance (it can be a decimal number) in kilometers, 
converts the entered distance into miles and prints the result.

In [ ]:
# Program to convert Kilometers to Miles
#Enter the value in kilometers: 10
#The entered value in Miles:  6.21371
km = int(input("Enter the value in kilometers: "))

# 1 Kilometre = 0.621371 Mile
ratio = 0.621371

# Converting km to mi.
mi = km * ratio

print("The entered value in Miles: ", mi)

In [ ]:
km = int(input("Enter the value in kilometers: ")) #10

# 1 Kilometre = 0.621371 Mile
ratio = 0.621371

# Converting km to mi.
mi = km * ratio

print("The entered value in Miles: ", mi) # mi=10*0.621371=6.21371

In [ ]:
km = int(input("Enter the value in kilometers: ")) #3.5

# 1 Kilometre = 0.621371 Mile
ratio = 0.621371

# Converting km to mi.
mi = km * ratio

print("The entered value in Miles: ", mi) #2.1747985

## AHMET SESSION 2
##Arithmetic operation

In [ ]:
print('4'+4)  # it gives error

In [76]:
print(4.0 + 4.0)

8.0

In [10]:
float('4.0')+4.0

8.0

In [9]:
num1, num2=81, 55
num3=num1-num2
print(num3)

26

In [11]:
r=5
pi=3.14
area=pi*(r**2)
print(area)

78.5

In [12]:
r=10
area=3.14*(r**2)
print(area)

314.0

In [ ]:
r=10
area=pi*(r**2)
print(area)

In [13]:
print(11%2)
print(4*5/2)

1
10.0

In [77]:
print(15%2)

1

In [78]:
float(15%2)

1.0

In [79]:
float(4*5/2)

10.0

In [14]:
print(11//2)

5

In [80]:
print(15//2)

7

In [81]:
float(15//2)

7.0

In [82]:
str(15//2)

'7'

In [17]:
print(2**3)
print(3**2)

a=2
b=8
print((a*b)**0.5)

8
9
4.0

In [ ]:
## number += number gives the same results as variable += variable + number
x +=3 -----> x+3
x -=3 -----> x-3
x *=3 -----> x*3
x **=3 ----> x**3

In [18]:
x=3
print(x)
x=x+3
print(x)

3
6

In [19]:
x=3
print(x)
x=x+3
print(x)
x=x*3
print(x)

3
6
18

In [20]:
x=3
print(x)
x=x+3
print(x)
x=x*3
print(x)
x=x-3
print(x)

3
6
18
15

In [22]:
#Follow the sequence 
y=2
print(y)
y +=2
print(y)
y *=2
print(y)
y -=2
print(y)
y **=2
print(y)

2
4
8
6
36

In [23]:
#parenthesis come first
a=(1+3)**(2**(1*2/2)/2)
print(a)

4.0

In [24]:
a=3
b=4
c=(a**2 + b**2)**0.5
c

5.0

In [25]:
a=9
b=12
c=(a**2 + b**2)**0.5
c

15.0

###Operations with print() function... Printing variables

In [27]:
number=2022
text="we have reached"
print(text, number)

we have reached 2022

#let's take a look at the inside of print()

In [28]:
a=2
b='abc'
print(a, b, sep=',')
print(a, b, end=',')

2,abc
2 abc,

In [29]:
a=2
b='abc'
print(a, b, sep=',')
print(a, b, end='.')

2,abc
2 abc.

In [30]:
a=2
b='abc'
print(a, b, sep='******')
print(a, b, end=',')

2******abc
2 abc,

In [83]:
text1="I bought"
text2="kg.of the apple this morning"
amount=6
text3=text1+""+str(amount)+""+text2
print(text1, amount, text2)
print("I bought", 6, "kg.of the apple this morning")
print("I bought" + "6" + "kg.of the apple this morning")
print(text3)

I bought 6 kg.of the apple this morning
I bought 6 kg.of the apple this morning
I bought6kg.of the apple this morning
I bought6kg.of the apple this morning

In [ ]:
## Escape Sequences
\n: means new line
\t: means tab mark,
\b: means backspace. It moves the cursor one character to the left

In [32]:
'I\'m all the way up!'# escaping character help you to escape error

"I'm all the way up!"

In [86]:
'I\'m all \tthe way up!'

"I'm all \tthe way up!"

In [39]:
print('I\'m all \nthe way up!')

I'm all
the way up!

In [38]:
print('I\'m alll\b the way up!')

I'm alll the way up!

In [40]:
print('C:\\north pole\noise_penguins.txt')
print('---------')
print('first', 'second', 'third', sep='\t')

C:\north pole
oise_penguins.txt
---------
first	second	third

In [41]:
print('C:\\north pole\\noise_penguins.txt')
print('---------*(*)*---------')
print('first', 'second', 'third', sep='\t')

C:\north pole\noise_penguins.txt
---------*(*)*---------
first	second	third

In [42]:
print('C:\\north pole\\noise_penguins.txt')
print('---------*(*)*---------')
print('first', 'second', 'third', sep='\n')

C:\north pole\noise_penguins.txt
---------*(*)*---------
first
second
third

In [43]:
print('C:\\north pole\\noise_penguins.txt')
print('---------*(*)*---------')
print('first', 'second', 'third', sep='\b')

C:\north pole\noise_penguins.txt
---------*(*)*---------
firstsecondthird

##Boolean Logic Expression

In [44]:
True and True

True

In [45]:
False and True

False

In [46]:
True and False

False

In [47]:
False and False

False

In [48]:
True or False

True

In [49]:
False or True

True

In [50]:
False or False

False

In [51]:
True or True

True

In [52]:
not True

False

In [54]:
not False

True

In [55]:
not(True and False)

True

In [56]:
not(True or False)

False

In [57]:
not True and False  #'not' goes first than 'or'

False

In [58]:
True and not False

True

In [59]:
(((not True) and  False) or (not True))

False

In [ ]:
Heating system control app
requirements:
1. motion sensor (2 or more motion detectors to detect people) (false or true ==> True I have people in the house)
2. temperature sensor (to tell the app what is the actual temp indours) True we are below the set temp.
(set temp is 69. actual temp is 68)
3. the app:
  if (MS --> True) and (TS --> False)
  please do not turn on the heat

In [ ]:
#Falsy values in Phyton:
.None
.Zero:0, 0.0. 0j
.Empty Seq. and collections:'', [], {}
. Any remaining value: True

In [61]:
adam_age=None
print(adam_age)

None

In [62]:
print(True and adam_age)

None

In [63]:
adam_age=33
print(True and adam_age)

33

In [64]:
people=1
temp=67
print(temp and people)

1

In [65]:
people=1
temp=70
print(temp and people)

1

In [67]:
people=0
temp=70
print(people and temp)

0

In [68]:
people=1
temp=70
print(people and temp)

70

In [ ]:
people=1
temp=70
print(people and temp)

In [69]:
people=1
temp=60
print(people and temp)

60

In [72]:
lis_1=[]
dict_1={}
str_1=''

print(lis_1 and True)
print(dict_1 and True)
print(str_1 and True)

[]
{}

In [70]:
print(2 and 3) # first one will accept as a true. Because of this reason, phyton choose second option

3

In [71]:
print(1 and 0)

0

In [73]:
print(1 and 'adam')

adam

In [74]:
print(2 and "hello world")
print([] and "be happy")
print(None and ())

hello world
[]
None

In [75]:
print(2 or "hello world")  # gercek verileri kabul ediyor. Ozellikle 'or' kullanildiginda...kolayini secer
print([] or "be happy")
print(None or ())
print({} or 0)
print({0} or False)

2
be happy
()
0
{0}

In [ ]:
Joseph loves bananas. A pound of banana costs $2 in his town. 
Let's help him calculate how much he should pay for 5 pounds of bananas using 
print() function and multiplication operator 👉🏻 *

Define two variables ➜ banana_price and total_amount_bought and use them in the calculation.

Input                                        output
variable_1 = 1                                 3
variable_2 = 2
print(variable_1 + variable_2)

In [87]:
banana_price=2
total_amount_bought=5
print(banana_price*total_amount_bought)

10

In [ ]:
We can convert the types of data to each other if the type allows to be converted. 
There are some functions to convert the types:
•	str() converts to string type
•	int() converts to signed integer type
•	float() converts to floating point type

In [88]:
example1 = 'sometimes what you say is less important than how you say it'
print(type(example1))

<class 'str'>

In [89]:
example2 = '71'
print(type(example2))

<class 'str'>

In [90]:
example3 = 71
print(type(example3))

<class 'int'>

In [91]:
example4 = 71.0
print(type(example4))

<class 'float'>

In [ ]:
example5 = 3.14j
print(type(example5))

In [92]:
example6 = True
print(type(example6))

<class 'bool'>

In [93]:
#Here are some examples on converting between different types:

f = 3.14  # the type is float
print(type(f))

<class 'float'>

In [94]:
f = 3.14  # the type is float

s = str(f)  # converting float to string
print(type(s))

<class 'str'>

In [95]:
f = 3.14  # the type is float

i = int(f)  # while converting a float value to an integer its decimal part is disregarded
print(i, '\n')
print(type(i))

3

<class 'int'>

In [96]:
i = 3

f = float(i)
print(f, '\n')
print(type(f))

3.0

<class 'float'>

In [97]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"

print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

In [98]:
a = 10
print(type(int(a)))

<class 'int'>

In [99]:
a = 10
print(type(str(a)))

<class 'str'>

In [100]:
a = 36.5
b = '30'
c = '3.5'
d = ' F is enough for room temperature.'

print(str(a+int(b)+float(c))+d)

70.0 F is enough for room temperature.

In [110]:
#In Python, it is possible to assign the value of one variable to another variable:
a = 5
b = 55
c = 555
c = a
b = c
a = b

print(a, b, c, sep=', ')

5, 5, 5

In [111]:
#Variable and its value
#Note that, the last value assigned to a variable is valid.
color = 'red'  # str type variable
season = 'summer'
price = 250  # int type variable
pi = 3.14  # float type variable
color = 'blue'  # You can always assign a new value to a created variable
price = 100  # value of 'price' is changed
season = 'winter'  

print(color, price, season, sep=', ')

blue, 100, winter

In [112]:
#if you print this, it will give syntax error.Phyton will confuse. 
#Therefore we should use phyton basic type conversion
days_in_feb=28
print(days_in_feb + 'days_in_feb')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [113]:
days_in_feb=28
print(str(days_in_feb) + 'days_in_feb')

28days_in_feb

In [114]:
#Numbers stored as strings are treated as a strings
first_num='5'
second_num='6'
print(first_num + second_num)

56

In [ ]:
#To escape this type of problems, you should use the 'input' function to return strings
first_num=input('enter the first number') #5
second_num=input('enter the second number')# 6
print(first_num + second_num)

In [117]:
first_num=input('enter the first number') #5
second_num=input('enter the second number')# 6
print(first_num + second_num)
print(int(first_num) + int(second_num))
print(float(first_num) + float(second_num))

enter the first number5
enter the second number6
56
11
11.0

In [ ]:
#Assignment 1

Remove a specific char at a specific/given index from a string.

Given a string (clarusway) and an index number int n (n=3), return a new string where the character 
at index n has been removed.

In [140]:
word = 'clarusway'
front = str[:3]
back ='usway'
print(str[:3] + back)

TypeError: 'type' object is not subscriptable

In [143]:
def remove_char(str, n):
      front = str[:n] 
      back = str[n+1:]
      return front + back
print(remove_char('clarusway', 0))
print(remove_char('clarusway', 3))
print(remove_char('clarusway', 5))

larusway
clausway
claruway

In [142]:
def remove_char(str, n):
      first_part = str[:n] 
      last_part = str[n+1:]
      return first_part + last_part
print(remove_char('Python', 0))
print(remove_char('Python', 3))
print(remove_char('Python', 5))

ython
Pyton
Pytho

In [ ]:
# Assignment 2

In order to print the following text using .format() method, arrange the variable text.

Hello! I am a new programmer and I love Clarusway.

Note : Use only given three words ("Hello", "new", "love") in the .format parentheses.

For example:


Answer

text = "I am a{} programer{} and I{} clarusway{}".format("Hello!", "new", "love")
print(text)

In [144]:
text = "{}! I am a {} programmer and I {} Clarusway.".format("Hello", "new", "love")
print(text)

Hello! I am a new programmer and I love Clarusway.

In [ ]:
#Assignment 3
Type a Python code to get the output of “I live in Sarajevo.”, using .capitalize() and f-string methods with the city variable below.

city = "SARAJEVO"
Note that; use double quotes within f-string method.

input                                   output
month = "february"                     February
text = f"{month.title()}"
print(text)

In [ ]:
city = "SARAJEVO"
text=f"I live in {city.capitalize()}."
print(text)

In [ ]:
If you had deposited a coin on the cryptocurrency exchange that brought 7% fixed profit daily for a week,
how much would your $ 1000 reach at the end of the 7th day?

In [137]:
deposited_coin=1000
fixed_profit=7/100
days_of_week=7
weekly_rate_increases=fixed_profit*days_of_week*deposited_coin
print(weekly_rate_increases)

490.00000000000006

## Ahmed Third Session/Indexing&slicing strings

In [146]:
fruit='Orange'
print('Word:', fruit)
print('First letter:', fruit[0])
print('Second letter:', fruit[1])    
print('3rd to  5th letters:', fruit[2:5])
print('letters all after 3rd:', fruit[2:])

Word: Orange
First letter: O
Second letter: r
3rd to  5th letters: ang
letters all after 3rd: ange

In [147]:
city = 'Phoenix'

print(city[1:])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

hoenix
Phoeni
Ponx
hei
nix
xineohP

In [148]:
city = 'Mars'

print(city[1:])  # starts from index 1 to the end
print(city[:4])  # starts from zero to 4th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

ars
Mars
Mr
as
ars
sraM

In [149]:
word='I am a python student'
word[-3]

'e'

In [150]:
word[::-1]

'tneduts nohtyp a ma I'

In [151]:
word[::-2]

'teusnhy  aI'

In [152]:
word[::-3]

'tdsoyaa'

In [153]:
word[:-1]

'I am a python studen'

In [154]:
word[:-3]

'I am a python stud'

In [155]:
word[:-1:]

'I am a python studen'

In [156]:
word[-1:-5:2]

''

In [157]:
word[-1:-5:-2]

'te'

In [158]:
animal="hippopotamus"
print(animal[1:])
print(animal[:6])
print(animal[::2])
print(animal[1:7:2])
print(animal[-3:])
print(animal[::-1])

ippopotamus
hippop
hpooau
ipp
mus
sumatopoppih

In [159]:
vegetable = 'Tomato' #counting is start from '0'


print('length of the word', vegetable, 'is :', len(vegetable))

length of the word Tomato is : 6

In [ ]:
print(len._doc_)

return the number of items in a container

In [163]:
vegetable[len(vegetable)-1]

'o'

## String Formatting with arithmetic syntax

In [166]:
str_one='upper'
str_two='case'
str_comb=str_one + str_two
print(str_one)
print(str_two)
print(str_comb)

upper
case
uppercase

In [170]:
str_one = 'upper'
print(* str_one)

u p p e r

In [ ]:
a, b, c, d, e = * str_one,

In [180]:
s_1 = 'I am angry...'

s_2 = '1453'

'joseph@clarusway.com'  # Do not use variable

'joseph@clarusway.com'

In [181]:
print(*s_1)

I   a m   a n g r y . . .

In [182]:
print(*s_1, *s_2, *'joseph@clarusway.com', sep='\n')

I

a
m

a
n
g
r
y
.
.
.
1
4
5
3
j
o
s
e
p
h
@
c
l
a
r
u
s
w
a
y
.
c
o
m

In [183]:
print(*s_1, *s_2, *'joseph@clarusway.com', sep='\b')

I am angry...1453joseph@clarusway.com

## Formatting

In [ ]:
String Formatting with 'string.format()' Method You can make strings change depending on the 
value of a variable or an expression. The main methods of Python to format the output are :

'string.format()' method : string.format() method is the improved form of % operator formatting.

As in this example below, the value of expression comes from .format() method in order. 
Curly braces 👉🏻{} receives values from .format().

In [184]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit, amount))

The amount of Orange we bought is 4 pounds

In [ ]:
#If you’ve written more variables than you need in the .format() method, the extra ones just will be ignored.
Using keywords in 👉🏻{} makes string more readable. For example:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))

In [186]:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [187]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

In [ ]:
condition='circumstances'
morality='generosity'
print('{} {} {} {}'.format('in all', 'wins' )

In [195]:
condition='circumstances'
morality='generosity'
phrase='{morality} {} {} {condition}'.format('in all', 'wins','morality='generosity', condition='circumstances')
print(phrase)

SyntaxError: invalid syntax (<ipython-input-195-b0992af94d77>, line 3)

In [ ]:
## f'string

In [ ]:
String Formatting with 'f-string' It is the easiest and useful formatting method of the strings.

'f-string' formatting : It makes string formatting easier. This method was introduced in 2015 with Python 3.6.

f-string is the string syntax that is enclosed in quotes with a letter f at the beginning. 
Curly braces 👉🏻{} that contain variable names or expressions are used to replace with their values.

Sample of a formula syntax is : f"strings {variable1} {variable2} string {variable3}"

Let's look at the example below on how the syntax is simple and readable.

In [196]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [199]:
#If you want to use multiple 'f-string formatting' lines without parentheses, what will be the other option that you can use?
#A: You can use backslashes 👉\ between f-lines.
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = f"Hi {name}. " \
     f"You are one of the {job} " \
     f"in the {domain} section."

In [208]:
name = "Joseph"
job = "teachers"
domain = "Data Science"

message = \
    f"Hi {name}." \
    f"You are one of the {job}" \
    f"in the {domain} section..."
print(message)

Hi Joseph.You are one of the teachersin the Data Science section...

In [ ]:
#Assignment
Problem :

Task : Estimating the risk of death from coronavirus.

Consider the following questions in terms of True/False regarding anyone else.

Are you a cigarette addict older than 75 years old? Variable → age

Do you have a severe chronic disease? Variable → chronic

Is your immune system too weak? Variable → immune

Set a logical algorithm using boolean logic operators (and/or) and the given variables in order 
to give us True (there is a risk of death) or False (there is not a risk of death) as a result.


age =  # can be assigned only True/False
chronic =  # can be assigned only True/False
immune =  # can be assigned only True/False
risk = ? (True or False)


data_task= estimating the risk corona virus death


age = int (input("75 :"))

if age >= 75:
    if age >= 75:
        risk_of_death="True"
    else:
        not_risk_of_death_="False"
elif severe_disease = chronic:
    if severe_disease="chronic" :
        risk_of_death="True"
    else:
        not_risk_of_death="False"
elif immune_system = weak:
    if immune_system="weak" :
        risk_of_death="True"
    else:
    not_risk_of_death="False"

In [227]:
age = int (input("75 :"))
if age >= 75:
    if age >= 75:
        risk_of_death="True"
    else:
        risk_of_death_="False"
print("risk: %s" % risk_of_death)

75 :75
risk: True

In [224]:
immune_system ='weak'
if immune_system=='weak':
    risk_of_death= True
else:
    risk_of_death= False
print('risk: %s' % risk_of_death)

risk: True

In [225]:
severe_disease='chronic'
if severe_disease=='chronic':
    risk_of_death= True
else:
    risk_of_death= False
print('risk: %s' % risk_of_death)

risk: True

In [167]:
age = (input("Are you a cigarette addict older than 75 years old? (Yes/No)  ")).title()
chronic = (input("Do you have a severe chronic disease? (Yes/No)  " )).title()
immune = (input("Is your immune system too weak? (Yes/No)  " )).title()
if  age == 'Yes':
    age = True
else: 
    age = False
if chronic == 'Yes':
   chronic = True
else: 
   chronic = False
if immune == 'Yes':
   immune = True 
else: 
   immune = False
risk = chronic or age or immune
if risk == True:
 print('There is a risk of death.')
else: 
 print('There is not a risk of death.')

Are you a cigarette addict older than 75 years old? (Yes/No)  Yes
Do you have a severe chronic disease? (Yes/No)  Yes
Is your immune system too weak? (Yes/No)  Yes
There is a risk of death.

In [230]:
text='www.clarusway.com'
print(text.endswith('.com'))
print(text.startswith('http:'))

True
False

In [231]:
text='www.clarusway.com'
print(text.endswith('om'))
print(text.startswith('w'))

True
True

In [232]:
text='www.clarusway.com'
print(text.endswith('www.clarusway.com'))
print(text.startswith('www.clarusway.com'))

True
True

In [ ]:
## Editing a String
string.method(arguments)
The formula syntax is : string.method()

Let's examine some common and the most important methods of string changing :

str.replace(old, new[, count]) replaces all occurrences of old with the new.
The count argument is optional, and if the optional argument count is given, 
only the first count occurrences are replaced. count: Maximum number of occurrences to replace. -1 (the default value) means replace all occurrences.

str.swapcase() converts upper case to lower case and vice versa.

str.capitalize() changes the first character of the string to the upper case and the rest to the lower case.

str.upper() converts all characters of the string to the upper case.

str.lower() converts all characters of the string to the lower case.

str.title() converts the first character of each word to upper case.

Let's consolidate the subject through examples :

In [1]:
sentence = "I live and work in Virginia"

print(sentence.upper())  

print(sentence.lower())

print(sentence.swapcase())

print(sentence)  # note that, source text is unchanged

I LIVE AND WORK IN VIRGINIA
i live and work in virginia
i LIVE AND WORK IN vIRGINIA
I live and work in Virginia

In [2]:
space_string="    listen first    "
space_string.rstrip()

'    listen first'

In [6]:
space_string="    listen first    "
space_string=space_string.lstrip()

In [7]:
space_string

'listen first    '

In [8]:
space_string="yinteroperability"
print(space_string.strip("yi"))

nteroperabilit

In [9]:
strp='yi'
space_string="yinteroperabilitiiiyyy"(the same letter can be written more than one 
                                      but only one of them will accept for output)
print(space_string.strip("yi"))

nteroperabilit

In [10]:
strp='yi'
space_string="yinteroperabilitiiiyyy" #(the same letter can be written more than one 
                                      #but only one of them will accept for output)
print(space_string.strip(strp))

nteroperabilit

In [11]:
source_string="interoperability"
print(source_string.lstrip("in"))
#removes "i" or "n" or "in" "ni" from the left side

teroperability

In [12]:
source_string="interoperability"
print(source_string.rstrip("yt"))

interoperabili

In [13]:
space_string = "     listen first      "
print(space_string.strip())  # removes all spaces from both sides

listen first

In [14]:
space_string = "     listen first      "
print(space_string.rstrip())  # removes spaces from the right side

     listen first

In [15]:
source_string = "interoperability"
print(source_string.rstrip("ty"))

interoperabili

In [ ]:
text='you can learn almost everything in pre-class'
text=

In [ ]:
Assigment

Notes :

The second line of the output above has one indentation (a tab char) and the third line has two indentations 
(two tab chars). 
Disregard PEP 8 rule of "max 79 chars in a line".

For example:

Result
Clarusway, Clarusway, Clarusway, 
	Clarusway, Clarusway, Clarusway, 
		Clarusway, Clarusway, Clarusway
        
        text = "Clarusway, ..............."

print(text)


The string variable to be arranged :

escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old. {}I have two children. {}Data Science is my IT domain.".format(escapes[0], escapes[2][1])

print(sentence)

In [ ]:
Assignment

After finishing the task correctly, then submit your answer (code) as plain text which shows you did correctly.
Task : Find out the most frequent number and its frequency.

Write a program that;

Finds out the most frequent number in the given list.
Calculates its frequency.
Prints out the result such as :
    
    Given list	
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]

Desired Output: the most frequent number is 3 and it was 4 times repeated
    
    notes:Note : You may need to use useful/necessary built-in functions and list methods 
            other than the functions we haven't covered in the lessons yet.

In [34]:
def most_frequent(List):
    counter = 0
    num = List[0]
     
    for i in List:
        curr_frequency = List.count(i)
        if(curr_frequency> counter):
            counter = curr_frequency
            num = i
 
    return num
List = [2, 1, 2, 2, 1, 3]
print(most_frequent(List))

2

In [35]:
def most_frequent(List):
    counter = 0
    num = List[0]
     
    for i in List:
        curr_frequency = List.count(i)
        if(curr_frequency> counter):
            counter = curr_frequency
            num = i
 
    return num
List = [1, 3, 7, 4, 3, 0, 3, 6, 3]
print(most_frequent(List))

3

In [ ]:
One of the most useful collections in Python is a list. In Python, a list is only 
an ordered collection of valid Python values.

The list type is probably the most commonly used collection type in Python. 
In spite of its name, a list is more like an array in some other languages (e.g. JavaScript).

In [ ]:
Creating a List
A list can be created by enclosing values, separated by commas, in square brackets 👉🏻[].

Let's create a simple list that includes some country names.

In [16]:
lis3=['h','a','p','p','y']
word='happy'
lis4=list(word)
print(lis3, lis4, sep='\n')

['h', 'a', 'p', 'p', 'y']
['h', 'a', 'p', 'p', 'y']

In [ ]:
num=(28.9)
lis5=lis

In [18]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
print(country)

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

In [ ]:
Another way to create a list is to call the 'list()' function.

You do this when you want to create a list from an iterable object: that is, 
    type of object whose elements you can import individually. The lists 
    are iterable like other collections and string types. Let's create another list using list() function and 
    compare with 👉🏻'[]'.

In [19]:
#white spaces also count 
string_1 = 'I quit smoking'

new_list_1 = list(string_1)  # we created multi element list-list oldugu zaman hepsini tek tek cikartir
print(new_list_1)

new_list_2 = [string_1]  # this is a single element list Kapali parenthesis sadece oldugu gibi print yapar
print(new_list_2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [20]:
mixed_list = [11, 'Joseph', False, 3.14, None, [1, 2, 3]]
print(mixed_list)

[11, 'Joseph', False, 3.14, None, [1, 2, 3]]

In [22]:
mixed_list = [11, 'Joseph', False, 3.14, None, [1, 2, 3, [4,5,6]]
print(mixed_list)

SyntaxError: invalid syntax (<ipython-input-22-84bfcf093b1c>, line 2)

In [23]:
#We can add an element into a list using .append() or .insert() methods.

#.append() : Append an object to end of a list. Using only list.append(element) syntax, returns none. If you want to see the new appended list, you have to call or print it. See the example :
#input :

empty_list_1 = []
empty_list_1.append('114')
empty_list_1.append('plastic-free sea')

print(empty_list_1)

['114', 'plastic-free sea']

In [24]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.append('Addis Ababa')

print(city)

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [25]:
title=['kamuran' , 'asude' , 'eymen']
title.append('kubra')
print(title)

['kamuran', 'asude', 'eymen', 'kubra']

In [26]:
#.insert() : Add a new object to list at a speciﬁc index. 
#The syntax looks like list.insert(index, object). See the example :

city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm')

print(city)

['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [27]:
#We can remove the elements in lists using list.remove() method or sort the elements using list.sort() method. 
#Examine the example :

city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove('London')
print(city)  # we have deleted 'London'

['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [28]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()  # lists the items in alphabetical order
print(city)

['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']

In [29]:
#Likewise, the length of the list elements can be calculated with the len() function also. 
#Let's calculate the length of 'city' variable we have.

city = ['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']
print(len(city))

6

In [30]:
my_list = [1, 3, 5, 7]
print(my_list * 3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [31]:
# One of the important operations of the lists is assigning an element to the specific index number.

city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city[1] = 'Melbourne'  # we assign 'Melbourne' to index 1
print(city)

['New York', 'Melbourne', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [36]:
num_list = [1,2,3,4]
num_list.insert(4, 5)
print(num_list)

[1, 2, 3, 4, 5]

In [37]:
list3=[1,2,4]
list3.insert(list3[-1],5)
list3

[1, 2, 4, 5]

In [38]:
list3[-1]=6
list3

[1, 2, 4, 6]

## AhmedSESSION

In [39]:
fruit = 'Orange'
print('Word : ', fruit)
print('First letter : ', fruit[0])
print('Second letter : ', fruit[1])
print('3rd to 5th letters : ', fruit[2:5])
print('Letters all after 3rd : ', fruit[2:])

Word :  Orange
First letter :  O
Second letter :  r
3rd to 5th letters :  ang
Letters all after 3rd :  ange

In [40]:
fruit[1::2]

'rne'

In [41]:
fruit

'Orange'

In [42]:
word = 'I am a python student'
word[-3]

'e'

In [43]:
word[::-1]

'tneduts nohtyp a ma I'

In [44]:
word[::-2]

'teusnhy  aI'

In [45]:
word[-1]

't'

In [46]:
word[:-1:]

'I am a python studen'

In [49]:
word[:-1]
word[:-1:]
word[::-1]
word[:-2]

'I am a python stude'

In [50]:
word[-1:-5:-2]

'te'

In [51]:
word[-1:-5:-3]

'td'

In [52]:
word[-1:-5]

''

In [53]:
word[:-5:-3]

'td'

In [54]:
word[::-3]

'tdsoyaa'

In [55]:
animal = "Hippopotamus"
print(animal[1:])
print(animal[:6])
print(animal[::2])
print(animal[1:7:2])
print(animal[-3:])
print(animal[::-1])

ippopotamus
Hippop
Hpooau
ipp
mus
sumatopoppiH

In [56]:
vegetable = "Tomato"
print('length of the word', vegetable, "is : ", len(vegetable))

length of the word Tomato is :  6

In [57]:
vegetable[5]

'o'

In [58]:
print(len.__doc__)

Return the number of items in a container.

In [59]:
vegetable[len(vegetable)-1]

'o'

In [60]:
str_one = 'upper'

print(* str_one)

u p p e r

In [61]:
a1, b2, c3, d4, e5 = * str_one,

In [62]:
a1

'u'

In [63]:
c3

'p'

In [64]:
s1, s2, s3 = "alpha", "beta", "gama"

In [65]:
s1

'alpha'

In [66]:
s_1 = 'I am angry...'

s_2 = '1453'

'joseph@clarusway.com'  # Do not use variable

'joseph@clarusway.com'

In [67]:
print(*s_1)

I   a m   a n g r y . . .

In [68]:
len('   ')

3

In [69]:
fruit = "Orange"
vegetable = 'Tomato'
amount_f = 4
amount_v = 6

print("The amount of {} we bought is {} pounds".format(fruit, amount_f))
print("The amount of {} we bought is {} pounds".format(vegetable, amount_v))

The amount of Orange we bought is 4 pounds
The amount of Tomato we bought is 6 pounds

In [70]:
print('{state} is the most {adjective} state of the {country}'.format(state="California", country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [71]:
print('{state} is the most {adjective} city of the {country}'.format(state="Mexico City", country='Mexico', adjective='exiting'))

Mexico City is the most exiting city of the Mexico

In [72]:
print("{}-{}-{}".format("12", "Feb", "Feb"))
print("{no}-{month}-{month}".format(no="12", month="Feb"))

print("{6} {5} {0} {1} {3} {4} {2}"
      .format("a new", "job", "months", "in", 6, "have started", "I will"))

12-Feb-Feb
12-Feb-Feb
I will have started a new job in 6 months

In [73]:
phrase = '{2} {3} {1} {0}'.format('circumstances', 'in all', 'generosity', 'wins')
print(phrase)

generosity wins in all circumstances

In [74]:
phrase = '{3} {2} {1} {0}'.format('circumstances', 'in all', 'generosity', 'wins')
print(phrase)

wins generosity in all circumstances

In [75]:
condition = 'circumstances'
morality = 'generosity'

phrase = '{morality} {} {} {condition}'.format( 'in all', 'wins', morality='generosity',condition='circumstances' )
print(phrase)

generosity in all wins circumstances

In [76]:
fruit = "Orange"
vegetable = 'Tomato'
amount = 6

print(f"The amount of {fruit} and {vegetable} we bought is {amount} pounds")

The amount of Orange and Tomato we bought is 6 pounds

In [77]:
sample1 = 2 ** 3
print(type(sample1))
sample2 = f'{2 ** 3}'
print(sample2)
print(type(sample2))

<class 'int'>
8
<class 'str'>

In [78]:
word = 'I am a python student'
phrase = f'I am becoming stronger in {word[7:13]} every day'
phrase2 = 'I am becoming stronger in {} every day'.format(word[7:13])
print(phrase)
print(phrase2)

I am becoming stronger in python every day
I am becoming stronger in python every day

In [79]:
name = 'Joseph'
job = "teachers"
domain = 'Data Science'

message = (
    f"Hi {name}."
    f'You are one of the {job}'
    f'in the {domain} section...'
)

print(message)

Hi Joseph.You are one of the teachersin the Data Science section...

In [80]:
name = 'Ali'
job = "Developer"
domain = 'Fullstack'

message =     f"Hi {name}."     f'You are one of the {job}'     f'in the {domain} section...'


print(message)

Hi Ali.You are one of the Developerin the Fullstack section...

In [81]:
var_string = 'ClarusWay'
print(var_string.lower())
print(var_string)
var_string = 'ClarusWay'.lower()
print(var_string)

clarusway
ClarusWay
clarusway

In [82]:
var_str = 'In God we Trust'
print(var_str)
var_str = var_str.lower()
print(var_str)

In God we Trust
in god we trust

In [83]:
text = 'www.clarusway.com'
print(text.endswith('www.clarusway.com'))
print(text.startswith('www.clarusway.com'))

True
True

In [84]:
email = "clarusway@clarusway.com is my e-mail address"
# print(email.startswith("@clarusway.com", 9))
print(email.endswith("-mai", 7, 35))

True

In [86]:
text = 'www.clarusway.com'
print(text.endswith('.com'))
print(text.startswith('www.'))

True
True

In [87]:
text = 'www.clarusway.com'
print(text.endswith('.co'))
print(text.startswith('w.'))

False
False

In [88]:
sentence = "I live and work in Virginia"
title_sentence = sentence.title().replace("i", "+").swapcase() # "I live and work in Virginia" make every word a title
print(title_sentence)  

changed_sentence = sentence.replace("i", "+")
print(changed_sentence)  

print(sentence)

i l+VE aND wORK iN v+RG+N+A
I l+ve and work +n V+rg+n+a
I live and work in Virginia

In [89]:
text = 'the better the family, the better the society'
text = text.title()
text

'The Better The Family, The Better The Society'

In [90]:
sentence = "I live and work in Virginia"
swap_case = sentence.swapcase()
print(swap_case)
print(swap_case.capitalize())

i LIVE AND WORK IN vIRGINIA
I live and work in virginia

In [91]:
text = 'S0d0me and G0m0re'
text.replace('0', 'o')

'Sodome and Gomore'

In [92]:
space_string = "     listen first      " #sag veya sola dondurmek icin 'l'left or 'r' right
space_string.strip()

'listen first'

In [93]:
space_string = "     listen first      "
space_string.rstrip()

'     listen first'

In [94]:
space_string = "     listen first      "
space_string.lstrip()

'listen first      '

In [95]:
space_string

'     listen first      '

In [96]:
#strp icinde kullanilan tum harfler ana kelimeden cikartilir.
strp = 'yi'
source_string = "yinteroperabilityiiiyyy"
print(source_string.strip(strp))

nteroperabilit

In [100]:
strp = 'ei'
source_string = "yinteroperabilityiiiyyy"
print(source_string.strip(strp))

yinteroperabilityiiiyyy

In [101]:
source_string

'yinteroperabilityiiiyyy'

In [102]:
text = 'tyou can learn almost everything in pre-classz'

text = text.rstrip('z').lstrip('t').upper()
print(text)

YOU CAN LEARN ALMOST EVERYTHING IN PRE-CLASS

In [104]:
text = 'ttyou can learn almost everything in pre-classz'

text = text.rstrip('z').lstrip('t').upper()
print(text)

YOU CAN LEARN ALMOST EVERYTHING IN PRE-CLASS

In [107]:
text = 'xtyou can learn almost everything in pre-classz'

text = text.rstrip('z').lstrip('xt').upper()
print(text)

YOU CAN LEARN ALMOST EVERYTHING IN PRE-CLASS

In [108]:
text = 'zzzzzzzzzzzztyou can learn almost everything in pre-classzzzzzzzzzzzzzzzzzzzzzzzzzzzzz'

text = text.strip('zt').upper()
print(text)

YOU CAN LEARN ALMOST EVERYTHING IN PRE-CLASS

In [109]:
text = 'zzzzzzzzzzzztyou can learn almost everything in pre-classzzzzzzzzzzzzzzzzzzzzzzzzzzzzz'

text = text.strip('z').upper()
print(text)

TYOU CAN LEARN ALMOST EVERYTHING IN PRE-CLASS

In [110]:
var_1 = 1
var_2 = 'any text'
var_3 = True

In [111]:
ls1 = []
print(type(ls1))

<class 'list'>

In [112]:
ls2 = list()
print(type(ls2))

<class 'list'>

In [113]:
ls1

[]

In [114]:
ls2

[]

In [115]:
lis3 = ['h', 'a', 'p', 'p', 'y']
word = 'happy'
lis4 = list(word)
print(lis3, lis4, sep='\n')

['h', 'a', 'p', 'p', 'y']
['h', 'a', 'p', 'p', 'y']

In [116]:
num = (28.9) # 20 + 8 + 0.9
lis5 = list((str(num)))
lis5

['2', '8', '.', '9']

In [117]:
ls6 = [1]
ls7 = [21.7]

In [118]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zeland']

print(country)

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zeland']

In [119]:
ls8 = [1,2,3,4,5]
ls8

[1, 2, 3, 4, 5]

In [120]:
mixed_list = [11, 'Joseph', False, 3.14, None, [1, 2, 3, [4, 5, 6]]]
print(mixed_list)

[11, 'Joseph', False, 3.14, None, [1, 2, 3, [4, 5, 6]]]

In [121]:
lis9 = list(mixed_list)
lis9

[11, 'Joseph', False, 3.14, None, [1, 2, 3, [4, 5, 6]]]

In [122]:
lis10 = lis9
lis10

[11, 'Joseph', False, 3.14, None, [1, 2, 3, [4, 5, 6]]]

In [123]:
numbers = [1, 4, 7]
numbers.append(9)
print(numbers)
numbers.append('9')
print(numbers)

[1, 4, 7, 9]
[1, 4, 7, 9, '9']

In [124]:
empty_list = []
print(empty_list, len(empty_list), sep = '\n')
empty_list.append(6666)
print(empty_list, len(empty_list), sep = '\n')
empty_list.append('Multiverse')
print(empty_list, len(empty_list), sep = '\n')
empty_list.append([0])
print(empty_list, len(empty_list), sep = '\n')

[]
0
[6666]
1
[6666, 'Multiverse']
2
[6666, 'Multiverse', [0]]
3

In [127]:
empty_list = [1,2,3]
print(empty_list, len(empty_list), sep = '\n')
empty_list.append(6666)
print(empty_list, len(empty_list), sep = '\n')
empty_list.append('Multiverse')
print(empty_list, len(empty_list), sep = '\n')
empty_list.append([0])
print(empty_list, len(empty_list), sep = '\n')

[1, 2, 3]
3
[1, 2, 3, 6666]
4
[1, 2, 3, 6666, 'Multiverse']
5
[1, 2, 3, 6666, 'Multiverse', [0]]
6

In [129]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.append('Addis Ababa')
print(city)

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [130]:
numbers = []
numbers.append(1)
numbers.append(2)
numbers.append(3)
numbers.append(4)

print(numbers)

[1, 2, 3, 4]

In [ ]:
ls11 = []
ls12 = [1,2,3,4,5,6,[7,8]]
ls11.append(ls12)
print(ls11)
print(len(ls11))

In [134]:
ls11 = []
ls12 = [1,2,3,4,5,6,[7,8]]
ls11.append(ls12)
print(ls11)
print(len(ls11))

[[1, 2, 3, 4, 5, 6, [7, 8]]]
1

In [132]:
ls11

[[1, 2, 3, 4, 5, 6, [7, 8]]]

In [133]:
len(ls11)

1

In [135]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm')

print(city)

['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [136]:
print(len(city))

7

In [141]:
lis14 = [1, 2, 3, 4]
lis14.insert(30, 'x')
print(lis14)

[1, 2, 3, 4, 'x']

In [142]:
lis14

[1, 2, 3, 4, 'x']

In [143]:
lis14[-1]

'x'

In [144]:
list3=[1,2,4]
list3.insert(list3[-1],5)
list3

[1, 2, 4, 5]

In [145]:
list3=[1,2,4]
list3.insert(list3[-1],6)
list3

[1, 2, 4, 6]

In [146]:
lis3[-1]=6
list3

[1, 2, 4, 6]

In [147]:
lis15 = [1,2,3,4,5,7,5,6,8,3,6,7,3,1234,5,8,8,9,5,4,2,2,4,6,8,4]
len(lis15)

26

In [152]:
lis15.insert(26,777)
print(lis15)

[1, 2, 3, 4, 5, 7, 5, 6, 8, 3, 6, 7, 3, 1234, 5, 8, 8, 9, 5, 4, 2, 2, 4, 6, 8, 4, 777, 777, 777]

In [151]:
len(lis15)

28

In [153]:
numbers = [1, 4, 7, 7, 9]  #if there are two number, only one will be remove
numbers.remove(7)
print(numbers)

[1, 4, 7, 9]

## Sort sayilari veya karakterleri duzgun bir siraya koyar.

In [154]:
lis16 = [1,2,3,4,5,7,5,6,8,3,6,7,3,1234,5,8,8,9,5,4,2,2,4,6,8,4]
lis16.sort()
print(lis16)

[1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 7, 7, 8, 8, 8, 8, 9, 1234]

In [155]:
lis17 = ['q', 'r', 't', 'y', 'f', 'ac', 'ab','c', 'ef', 'uv', 'k', 'l', 'ab', 'ac']
lis17.sort()
lis17

['ab', 'ab', 'ac', 'ac', 'c', 'ef', 'f', 'k', 'l', 'q', 'r', 't', 'uv', 'y']

In [156]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()
print(city)

['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']

In [ ]:
mix_list = ['d', 1, 'a', 7]
mix_list.sort()
print(mix_list)   #sayi ve harflerin birlikte oldugu 'sort' error verir.

In [158]:
list_1 = ['one', 'four', 'nine']
list_1.sort()
list_2 = ['@', '*-', 'False']
list_2.sort()
list_3 = [True, False]
list_3.sort()
list_4 = [[3], [44], [-12]]
list_4.sort()
list_5 = [[1, 3], [44, -40], [-12, 1], [-12, 0]]
list_5.sort()
print(list_1)
print(list_2)
print(list_3)
print(list_4)
print(list_5)

['four', 'nine', 'one']
['*-', '@', 'False']
[False, True]
[[-12], [3], [44]]
[[-12, 0], [-12, 1], [1, 3], [44, -40]]

In [159]:
ord("*")

42

In [160]:
ord('F')

70

In [161]:
ord('@')

64

In [162]:
ord('f')

102

In [163]:
ord('-')

45

In [164]:
ord('_')

95

In [165]:
ord('7')

55

In [166]:
ord('A')

65

In [168]:
print("xyyzxyzxzxyy".endswith("xyy", 0, 2))

False

In [169]:
print("xyyzxyzxzxyy".count('yy', 2))

1

In [170]:
print(format("Welcome", "10s"), end = '#')
print(format(111, "4d"), end = '#')
print(format(924.656, "3.2f"))

Welcome   # 111#924.66

In [171]:
print(chr(ord('b')+1))

c

In [172]:
print("abcd"[2:])

cd

In [173]:
example = "snow world"
print("%s" % example[4:7])

 wo

In [175]:

'foo\'bar'

"foo'bar"

In [176]:
"foo'bar"

"foo'bar"

In [177]:
'foo'bar'

SyntaxError: invalid syntax (<ipython-input-177-4ff579c6bbb0>, line 1)

In [178]:
"""foo'bar"""

"foo'bar"

## Ahmed SESSION 5

In [ ]:
## Accessing lists

In [ ]:
Indexing a List
If we want to access or use the elements of a list, 
we can do that using index numbers of the list enclosed by square brackets.
Avoid ! :
Do not start indexing with 1. The first index of the element of a list is 0. We will never stop remembering that!

In [179]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero, 
# the second element will be 'blue'.

blue

In [180]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

city_list = []
city_list.append(city) # we have created a nested list

print(city_list)

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [181]:
print(len(city))
print(len(city_list))

5
1

In [183]:
str1="My name is NEO"

In [184]:
str1[3]

'n'

In [185]:
ls1=[1,2,3,4,5]
ls1[4]

5

In [186]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0]) # access to first and only element

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [187]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2])

Istanbul

In [188]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2][3])

a

In [189]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2][4])

n

In [192]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][3][3])

u

In [193]:
#What will be the output of the following code?

fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list[0][2][7])

l

In [ ]:
Slicing a List
We can access individual elements of a list, as well as part of those items. 
We use index numbers again for slicing but we do it by typing it a little differently. Look at the example :

In [194]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])  # we get the elements from index=2 to index=5(5 is not included)

[5, 7, 9]

In [ ]:
You can keep in mind the formula syntax below for slicing a sequence. From 'start' to 'stop-1', by 'step'.

The formula syntax is : sequence[start:stop:step]

This formula produces a slice of the sequence where start is an index of the first element 
required (the element is included in the slice) and stop is
an index of the end element (the element is not included in the slice), 
step is an interval between elements to be chosen.

Now let's apply this formula on a few examples. In this example, we will create a list of numbers 
from 1 to 10 using 'range()' function and select even ones:

In [195]:
count = list(range(11))
print(count)

print(count[0:11:2]) # start from zero and count with jumping 2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

In [196]:
print(*range(1,10))

1 2 3 4 5 6 7 8 9

In [199]:
lis2=[*range(1,11)]
print(lis2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [200]:
lis3=list(range(1,11))
lis3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
The formula syntax is : range(start, stop[, step])

Each part of the slice has a default value, so they are optional. 
If we don't assign a value to the start index, it is considered to be 0; if we don't 
assign a value to the stop index, it will be the same as the length of the sequence.

my_list[:]: returns the full copy of the sequence

my_list[start:] : returns elements from start to the end element

my_list[:stop] : returns element from the 1st element to stop-1

my_list[::step] : returns each element with a given step

In [201]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[3:6])

[7, 9, 11]

In [202]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[4:9]) #4'ten sonra 5 saga gideceksin

[9, 11, 13, 15, 17]

In [252]:
ran1=range(1,5)
lis4[*ran1]
lis4

SyntaxError: invalid syntax (<ipython-input-252-e393f3ef1c03>, line 2)

In [207]:
lis4=list(range(1,11,2))  # 1,3,5,7
lis4

[1, 3, 5, 7, 9]

In [208]:
lis5=lis3[0::2]  #odd numbers tek sayilar icin 'o' dan baslamak lazim
lis5

[1, 3, 5, 7, 9]

In [209]:
lis6=lis3[1::2]  #cift sayilar icin bir den baslamak lazim
lis6

[2, 4, 6, 8, 10]

In [253]:
lis6=lis3[1::3]  #cift sayilar icin bir den baslamak lazim
lis6

[2, 5, 8]

In [254]:
lis6=lis3[1::4]  #cift sayilar icin bir den baslamak lazim
lis6

[2, 6, 10]

In [255]:
lis6=lis3[3::2]  #cift sayilar icin bir den baslamak lazim
lis6

[4, 6, 8, 10]

In [210]:
lis7=list(range(2,11,2))
lis7

[2, 4, 6, 8, 10]

In [ ]:
#You can keep in mind the formula syntax below for slicing a sequence.
#From 'start' to 'stop-1', by 'step'.

#The formula syntax is : sequence[start:stop:step]

#This formula produces a slice of the sequence where start is an index of the first element 
#required (the element is included in the slice) 
#and stop is an index of the end element (the element is not included in the slice), 
#step is an interval between elements to be chosen.

#Now let's apply this formula on a few examples. 
#In this example, we will create a list of numbers from 1 to 10 using 'range()' function and select even ones:

In [256]:
count = list(range(11))
print(count)

print(count[0:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

In [257]:
count = list(range(11))
print(count)

print(count[0:11:3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 3, 6, 9]

In [258]:
count = list(range(11))
print(count)

print(count[1:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [259]:
count = list(range(11))
print(count)

print(count[1:11:3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 7, 10]

In [260]:
count = list(range(11))
print(count)

print(count[0:11:-2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[]

In [263]:
count = list(range(11))
print(count)

print(count[0:11:-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[]

In [264]:
count = list(range(11))
print(count)

print(count[-8::-2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 1]

In [265]:
count = list(range(11))
print(count)

print(count[-5::-2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 4, 2, 0]

In [266]:
count = list(range(11))
print(count)

print(count[-7::-2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 2, 0]

In [267]:
count = list(range(11))
print(count)

print(count[-4::-3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[7, 4, 1]

In [211]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

print(animals[:])  # all elements of the list

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [212]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[3:])

['wolf', 'rabbit', 'deer', 'giraffe']

In [213]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[:5])

['elephant', 'bear', 'fox', 'wolf', 'rabbit']

In [ ]:
### And the last example slices animals starts at index=0 to the end with 2 step.

In [214]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[::2])

['elephant', 'fox', 'rabbit', 'giraffe']

In [ ]:
Q: In Python what is slicing?
A: A mechanism to select a range of items from sequence types like list, tuple, strings etc. is known as slicing.

- Interview Q&A

In [215]:
#What will be the output of the following code?

even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [221]:
#What will be the output of the following code?

even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[3:9])

[8, 10, 12, 14, 16, 18]

In [222]:
#select and print the string typed numbers
mix_list=[1,[1,"one", 2, "two", 3, "three"], 4]
mix_list[1][1::2]

['one', 'two', 'three']

In [230]:
lis8=[1, [[1,"one", 3, "three"], [[0, 'zero'], 2, "two", 4, 'four']], 4]
odd=lis8[1][0][1::2]
odd

['one', 'three']

In [231]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])

London

In [232]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])

['lobster', 'squid', 'octopus']

In [241]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-4:])

['jellyfish', 'lobster', 'squid', 'octopus']

In [242]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-6:])

['shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']

In [233]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-3])

['swordfish', 'shark', 'whale', 'jellyfish']

In [238]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-2:-3])

[]

In [239]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-5])

['swordfish', 'shark']

In [240]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-6])

['swordfish']

In [234]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3::-1])

['lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [235]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [236]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3::-2])

['lobster', 'whale', 'swordfish']

In [237]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3::-3])

['lobster', 'shark']

In [243]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-4::-2])

['jellyfish', 'shark']

In [244]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-6::-1]) #sondan one dogru '6' ya kadar sayip 6 dahil geri kalanlari include yapacaksin

['shark', 'swordfish']

In [245]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2])

['octopus', 'lobster', 'whale', 'swordfish']

In [246]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

[8, 7, 6, 5]
[]

In [249]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:4:-1])
print(odd_no[3:6:-1])

[8, 7, 6]
[]

In [ ]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1]) #different sequence of flow(yani 2 den baslayip 6 ye gecmis) bu mumkun degil. 
#Dolayisiyla bos list verir.

In [ ]:
Q: What does list[::-1] do?
A: list[::-1] is used to reverse the order of a sequence of the elements in the list.

- Interview Q&A

In [ ]:
##Tuples

Definitions
Up to this section of our lesson, we saw the most used collection types of Python : list. 
    A tuple is another collection type that can hold multiple data very similar to the list.

The most important difference from the list is that the tuple is immutable. 
Therefore, methods like append() or remove() do not exist in the operations of this type.

Tuples are commonly used for small collections of values that will not need to change, such as an IP address and port. If we have unchanged data, we should choose tuples because it is much faster than lists.

We used square brackets 👉🏻'[]' to define the lists. In the tuple, normal parentheses 👉🏻'()' are used.

The same indexing rules for lists also apply to tuples. Tuples can also be nested and the values 
can be any valid Python valid.

In [ ]:
Q: What is the difference between list and tuple?
A:
LISTs :

Lists are mutable i.e they can be edited.
Lists are slower than tuples.
Syntax: list_1 = [True, ‘Space’, 20]
TUPLEs :
Tuples are immutable (tuples are lists which can’t be edited).
Tuples are faster than list.
Syntax: tup_1 = (True, ‘Space’ , 20)
- Interview Q&A

In [251]:
Creating a Tuple
A tuple also can be created by enclosing values, separated by commas, in parentheses.

You can compare tuple to a case. When you put the data that you want it to not change and close the lid, 
you can no longer change this data, modify its size and edit it.

Let's create a simple empty tuple :

empty_tuple = ()

In [1]:
empty_tuple = ()

In [2]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [45]:
empty_tuple = []
print(type(empty_tuple))

<class 'list'>

In [3]:
try_tuple = ('love')

print(try_tuple)

print(type(try_tuple)) # it's not tuple type.

love
<class 'str'>

In [4]:
try_tuple = ('love',)

print(try_tuple)

print(type(try_tuple)) # it's a tuple type. virgul ve nokta varsa tuple donusur.

('love',)
<class 'tuple'>

In [ ]:
Actually, if your tuple contains more than one element, separating elements with commas will be enough.
Another way to create a tuple is to call the tuple() function. You do this when you want to create a 
tuple from an iterable object: 
that is, a type of object whose elements you can import individually.

The tuple is also iterable like other collections and string types. 
Let's create another tuple using tuple() function. With this function, you can create an empty tuple as well.

In [5]:
planets = 'mercury', 'jupiter', 'saturn'

print(planets)
print(type(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>

In [46]:
planets = ('mercury', 'jupiter', 'saturn') # iki ornekte oldugu gibi parentez olsun olmasin virgul konuldugu surece'tuple' donusur

print(planets)
print(type(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>

In [47]:
planets = ['mercury', 'jupiter', 'saturn'] # kapali parenthes, list formatina donusur.

print(planets)
print(type(planets))

['mercury', 'jupiter', 'saturn']
<class 'list'>

In [6]:
empty_tuple_1 = tuple()

print(empty_tuple_1)
print(type(empty_tuple_1))

()
<class 'tuple'>

In [7]:
ls15=[1,2,3,4,5]
tup1=tuple(ls15)
tup1

(1, 2, 3, 4, 5)

In [8]:
tup2=(6,7,8,9)
ls16=list(tup2)
ls16

[6, 7, 8, 9]

In [9]:
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple)

print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [10]:
my_list = [1, 4, 3, 4, 5, 6, 7, 4]

my_tuple = tuple(my_list)

print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [11]:
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

In [12]:
tuple_1='h','a','p','p','y'
tuple_2=1,3,5
print(tuple_1)
print(type(tuple_1))
print(tuple_2)

('h', 'a', 'p', 'p', 'y')
<class 'tuple'>
(1, 3, 5)

In [13]:
tup3=tuple(range(1,11))
tup3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
How can We Use a Tuple ?
If you want, let's take a look at the common features of the list and tuple. 
So you can have an idea of what to do with tuples.

Both lists and tuples are ordered. It means that when storing elements to these containers, 
you can sure that their order will remain the same. 
You can also duplicate values or mix different data types in tuples.

In [14]:
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

4

In [ ]:
even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])   
print(even_no[3])  

#tuple index out of range. it gives error
And one of the most important differences of tuples from lists is that 'tuple' object does not 
support item assignment. Yes, because tuple is immutable. See the example :

In [16]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin'] #replace by their index number

city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)

['Athens', 'Cairo', 'Moskow', 'Dublin']

In [ ]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)

city_tuple[0] = 'New York'  # you can't assign a value and it gives error. You can reassign it again.

In [ ]:
Benefits of Immutability
Let's take a look at the basic advantages of tuples :

Tuples are faster and more powerful in-memory than lists. 
You should give it a thought whenever you need to deal with large amounts of data. 
If you don't want to change your data you may have to choose tuples.

Because of its immutability, the data stored in a tuple can not be altered by mistake.

A tuple can be used as a dictionary (we will see in the next lesson) key,
while 'TypeError' can result in lists as keys. And this is the usefulness of tuples in the data processing.

In [ ]:
Select and print the vegetables from the following list using indexing and slicing methods. Note that, 
except from the given list (grocer), your program must consist of a single line of code.


grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

In [ ]:
input: print(list_name[1][2:5:2])

output:['item1', 'item2']

In [18]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

print(grocer[1][1][1:6:2])

['eggplant', 'spinach', 'leek']

In [55]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

print(grocer[1][1][1:4:2])

['eggplant', 'spinach']

In [56]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

print(grocer[1][1][2:6:2])

['melon', 'cheese']

In [57]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

print(grocer[1][1][3:6:2])

['spinach', 'leek']

In [58]:
numbers = ["1", ["2", ["3", "4", "5", "6", "7", "8" ], "9"], "10"]

print(numbers[1][1][1:6:2])

['4', '6', '8']

In [59]:
numbers = ["1", ["2", ["3", "4", "5", "6", "7", "8" ], "9"], "10"]

print(numbers[1][1][1:6:-2])

[]

In [60]:
numbers = ["1", ["2", ["3", "4", "5", "6", "7", "8" ], "9"], "10"]

print(numbers[1][1][1:5:2])

['4', '6']

In [19]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

print(grocer[1][1][1:5:2])

['eggplant', 'spinach']

In [61]:
my_tuple = ('Solar',)
print(my_tuple, type(my_tuple), sep='\n')

('Solar',)
<class 'tuple'>

In [62]:
my_tuple = ('Solar') 
print(my_tuple, type(my_tuple), sep='\n')

Solar
<class 'str'>

In [63]:
solar = 'Earth', 'Venus', 'Uranus'
print(solar, type(solar), sep='\n')

('Earth', 'Venus', 'Uranus')
<class 'tuple'>

In [64]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair')) #burada ilk olarak uc bolum var. altiya gitmek icin
#parentez icini tekrardan saymamiz gerek 'six' -->once general count, second identified parenthesis and start from'o'
str_six = mix_tuple[2][2][0]
str_six

'six'

In [134]:
mix_tuple

('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))

In [135]:
type(mix_tuple[2])   # burda ikide olan sayilar [] parentez oldugundan list olur

list

In [136]:
type(mix_tuple[3])   # ucte kine bakarsiniz () normal parenthez oldugundan 'tuple' our

tuple

In [139]:
mix_tuple[2].append(False)      #
mix_tuple

('11', 11, [2, 'two', ('six', 6), False], (5, 'fair'))

In [145]:
mix_tuple[2][1]='TWO'  #tupele degistirme yontemi.

In [146]:
mix_tuple

('11', 11, [2, 'TWO', ('six', 6), False], (5, 'fair'))

In [70]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[2][1][0]
str_six

't'

In [71]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[2][1][1]
str_six

'w'

In [72]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[2][1][2]
str_six

'o'

In [73]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[2][1][3]
str_six

IndexError: string index out of range

In [74]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[2][2][0]
str_six

'six'

In [76]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[2][2][1]
str_six

6

In [77]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[2][1:]
print(str_six, type(str_six), sep='\n')

['two', ('six', 6)]
<class 'list'>

In [78]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[3][1:]
print(str_six, type(str_six), sep='\n')

('fair',)
<class 'tuple'>

In [81]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[-1][-1]
print(str_six, type(str_six), sep='\n')

fair
<class 'str'>

In [82]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[-1][-2]
print(str_six, type(str_six), sep='\n')

5
<class 'int'>

In [84]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[-2][-3]
print(str_six, type(str_six), sep='\n')

2
<class 'int'>

In [91]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
option_1 = mix_tuple[3][0]
option_2 = mix_tuple[-1][-1]

print(option_1, option_2, sep='\n')

5
fair

In [92]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
option_1 = mix_tuple[3][1]
option_2 = mix_tuple[-1][-1]

print(option_1, option_2, sep='\n')

fair
fair

In [97]:
mix-tuple =('11',11, [2,'two',('six', 6)], (5, 'fair'))
str_six = mix_tuple[2][1:3]
print(str_six, type(str_six), sep='\') #

SyntaxError: EOL while scanning string literal (<ipython-input-97-f4b0e89be6e2>, line 3)

In [23]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
print(my_tuple[-1])

t

In [98]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
print(my_tuple[-2])

i

In [99]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
print(my_tuple[-3])

m

In [102]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
print(my_tuple[-4:-2])

('r', 'm')

In [103]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
print(my_tuple[-6:-2])

('p', 'e', 'r', 'm')

In [104]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
print(my_tuple[-6:-3])

('p', 'e', 'r')

In [109]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
print(my_tuple[-6:-2:2])

('p', 'r')

In [110]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
print(my_tuple[-6:-2:3])

('p', 'm')

In [24]:
print(my_tuple[-6])

p

In [25]:
# Accessing tuple elements using slicing
my_tuple = ('p','r','o','g','r','a','m','i','z')
# elements 2nd to 4th
# Output: ('r', 'o', 'g')
print(my_tuple[1:4])

('r', 'o', 'g')

In [26]:
my_tuple = ('p','r','o','g','r','a','m','i','z')
# elements beginning to 2nd
# Output: ('p', 'r')
print(my_tuple[:-7])

('p', 'r')

In [27]:
print(my_tuple[7:])
# elements 8th to end
# Output: ('i', 'z')

('i', 'z')

In [28]:
# elements beginning to end
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple[:])

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [29]:
# Changing tuple values
my_tuple = (4, 2, 3, [6, 5])


# TypeError: 'tuple' object does not support item assignment
# my_tuple[1] = 9

# However, item of mutable element can be changed
my_tuple[3][0] = 9    # Output: (4, 2, 3, [9, 5])
print(my_tuple)

# Tuples can be reassigned
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple)

(4, 2, 3, [9, 5])
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [30]:
# Concatenation
# Output: (1, 2, 3, 4, 5, 6)
print((1, 2, 3) + (4, 5, 6))

# Repeat
# Output: ('Repeat', 'Repeat', 'Repeat')
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

In [31]:
# Deleting tuples
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

# can't delete items
# TypeError: 'tuple' object doesn't support item deletion
# del my_tuple[3]

# Can delete an entire tuple
del my_tuple

# NameError: name 'my_tuple' is not defined
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [32]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('p'))  # Output: 2
print(my_tuple.index('l'))  # Output: 3

2
3

In [111]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('e'))  # Output: 2
print(my_tuple.index('a'))  # Output: 3

1
0

In [112]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('a'))  # Output: 1
print(my_tuple.index('e'))  # Output: 4

1
4

In [113]:
#indexing
x='frog'
print(x[3])     #it prints 'g' because indexing start at zero

g

In [114]:
#list
x=['pig', 'cow', 'horse']
print(x[1])                     #list also start at zero and move forward. thae answer is 'cow'

cow

In [ ]:
# Slicing
-slice out substrings, sublists, subtuples using indexes [start:end+1:step]

x='computer'

 Code                Result                      Explanation
    
x[1:4]               'omp'                       items 1 to 3

x[1:6:2]              'opt'                      items 1, 3, 5

x[3:]                 'puter'                    items 3 to end

x[:5]                 'compu'                    items 0 to 4

x[-1]                   'r'                      last item

x[-3:]                 'ter'                     last 3 items

x[:-2]                 'comput'                  All except last 2 items

In [ ]:
Iterating
-iterate through the items in a sequence

x=[7,8,9]
for item in x:
    print(item*2)            #prints 14,16,6

In [ ]:
Iterating
-iterate through the items in a sequence

x=[7,8,9]
for index, item in enumerate (x):
    print(index, item)               #prints 07, 18, 23 yani 0, 1, 2 sayilarini sirasiyla one koyarak yapiyoruz.

In [ ]:
# Number of items
x='bug'           #prints 3   'string' oldugu zamman, yani parentezsiz, sadece iki isaret arasindaki sayilari say.
print(len(x))

In [ ]:
x=['pig', 'cow', 'horse']  # list oldugu zaman, kapali pranthes icindekileri bir olarak kabul ediyoruz.
print(len(x))                #prints 3

In [ ]:
# Minimum
-Find the minimum item in a sequence lexicographically
-alpha or numericz types, but cannot mix types

In [115]:
#string
x='bug'                #burdaki 'min'tanimlanan en yakin harf demek yani 'b'
                    #siralamaya bakarak en dusugu hangisi ise onu secer. Burda(A...Z) 'b' bug ilk
print(min(x))

b

In [116]:
x='bug'                #burdaki 'max' bug kelimesinde harf olarak en sonuncusunu bulur. Yani 'u'
print(max(x))

u

In [117]:
#list
x=['pig', 'cow', 'horse']
print(min(x))

cow

In [118]:
x=['pig', 'cow', 'horse']
print(max(x))

pig

In [ ]:
#Index(item)
-returns the index of the first occurence of an item(For string)

x='hippo'
print(x.index('p'))

In [119]:
x='hippo'
print(x.index('p'))

2

In [ ]:
#Index(item)
-returns the index of the first occurence of an item(For list)

x=['pig', 'cow', 'horse']
print(x.index('cow'))

In [120]:
x=['pig', 'cow', 'horse']
print(x.index('cow'))

1

In [ ]:
#Unpacking
-unpack the n items of a sequence into n variables            #now a is 'pig'
                                                               #b is a 'cow'
x=['pig', 'cow', 'horse']                                      #c is a 'horse'
a,b,c=x

Note: The number of variables must exactly match the length of the list.

In [ ]:
#constructors-creating a new list

x=list()
x=['a', 25, 'dog', 8.43]
x=list(tuple1)

#list Comphrehension
x=[m for m in range(8)]
resulting list: [0,1,2,3,4,5,6,7]
    
x=[z**2 for z in range(10) if z>4]

resulting list:[25,36,49,64,81]

In [ ]:
#Delete 
delete a list for an item from a list

x=[5,3,8,6]
del(x[1])

In [128]:
x=[5,3,8,6]       #[5,8,6]      
del(x[1])
del(x)               #deletes list x

In [126]:
#Append an item list
x=[5,3,8,6] 
x.append(7)
print(x)

[5, 3, 8, 6, 7]

In [ ]:
#extend
-Append an sequence to a list
x=[5,3,8,6] 
y=[12,13]
x.extend(y)

In [133]:
x=[5,3,8,6] 
y=[12,13]
x.extend(y)
#[5,3,8,6,7,12,13]      #combine both x and y together

In [33]:
# Membership test in tuple
my_tuple = ('a', 'p', 'p', 'l', 'e',)

# In operation
print('a' in my_tuple)
print('b' in my_tuple)

# Not in operation
print('g' not in my_tuple)

True
False
True

## Dictionaries

In [ ]:
Definitions
In this topic, we will examine the collection types which store item pairs. What does it mean?

Think of a real dictionary. 
It contains words and their meanings. 
In Python, you can accept the words as key and the meaning of the words as value.

A dictionary in Python is a collection of key-value pairs called items of a dictionary. 
The dictionary is enclosed by curly braces 👉🏻{}. 
Each pair (item) is separated by a comma and the key and value are separated by a colon.

In [ ]:
Creating a Dictionary
A dictionary also can be created by enclosing pairs, separated by commas,
in curly-braces. Looks like list or tuple, right?

And of course, we can use a function to create a dictionary : 'dict()' function.
    Let's create a simple empty dict :

In [34]:
empty_dict_1 = {}

empty_dict_2 = dict()

In [35]:
empty_dict_1 = {}

print(type(empty_dict_1))

<class 'dict'>

In [ ]:
my_dict = {'key1': 'value1',
            'key2': 'value2',
            'key3': 'value3'
            }

In [36]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [37]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [38]:
mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type
mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}
print(mix_values)

{'animal': ('dog', 'cat'), 'planet': ['Neptun', 'Saturn', 'Jupiter'], 'number': 40, 'pi': 3.14, 'is_good': True}

In [39]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [ ]:
Q: What is a dictionary in Python?
A: Python dictionary is one of the supported data types in Python. 
It is an unordered collection of elements. The elements in dictionaries are stored as key–value pairs.
Dictionaries are indexed by keys. For example, below we have a dict named my_dict. 
It contains two keys, fruit and vegatable, along with their corresponding values, banana and onion.

my_dict = {'fruit':'banana', 'vegatable':'onion'}

In [ ]:
Main Operations with Dictionaries
There are several methods that allow us to access items, keys, and values.
You can access all items using the .items() method, all keys using the .keys() method, and all values using the 
.values() method:

In [40]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [ ]:
You have learned that you can add a new item by assigning value to a key that is not in the dictionary. 
Likewise, you can add new items using the .update() method. Let's see :

In [41]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False})

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [ ]:
You can also remove an item using the del function:

The formula syntax is : del dictionary_name['key'].

See the example.

In [42]:
dict_by_dict = {'animal': 'dog',
               'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

del dict_by_dict['animal']

print(dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [ ]:
Using the in and the not in operator, you can check if the key is in the dictionary.

When we use the in operator; if the key is in the dictionary, the result will be True otherwise False.

When we use the not in; if the key is not in the dictionary, the result will be True otherwise False.

Look at the example :

In [43]:
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('pi' in dict_by_dict) 
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'

True
True

In [ ]:
mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)#they give the same results

In [44]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False})
dict_by_dict['name']='Alya'

print(dict_by_dict) #or you can add by dict_by_dict['name']='Alya'

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False, 'name': 'Alya'}

In [150]:
family = {
    'name1': 'Adam',
    'name2': 'Yve',
    'name3': 'Noah'
}
print(family.items(), '\n')
print(family.keys(), '\n')
print(family.values())

dict_items([('name1', 'Adam'), ('name2', 'Yve'), ('name3', 'Noah')])

dict_keys(['name1', 'name2', 'name3'])

dict_values(['Adam', 'Yve', 'Noah'])

In [165]:
family = {
    'name1': 'Adam',
    'name2': 'Yve',
    'name3': 'Noah'
}
print(list(family.items(), '\n')
print(list(family.keys(), '\n')
print(list(family.values())

SyntaxError: invalid syntax (<ipython-input-165-401e7d750f6d>, line 7)

## Nested Dictionaries
In some cases, you need to work with the nested dict. When you decide to specialize in data science, 
we will work very often with dictionaries in the future.

In [166]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [167]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class":"intermediate", "age":10},
                "sue": {"class":"elementary", "age":8}
               },
         "teen":{"joseph":{"class":"college", "age":19},
                 "marry":{"class":"high school", "age":16}
               },               
        },
}

print(school_records['personal_info']['teen']['marry']['age'])

16

In [168]:
print(school_records['personal_info']['teen']['joseph']['age'])

19

In [169]:
print(school_records['personal_info']['teen']['marry']['class'])

high school

In [170]:
print(school_records['personal_info']['kid']['tom']['age'])

10

In [ ]:
A set is a collection of elements with no repeats and without insertion order but sorted order.

Basic uses include membership testing and eliminating duplicate entries. 
Set objects also support mathematical operations like union, intersection, difference, 
and symmetric difference.

They can hold multiple data in them, but only one of value. 
They are used in situations where it is only important that some things are grouped together, and not what order 
they were included.

In [ ]:
#Creating a Set
Curly braces '{}' or the set() function can be used to create sets.
But the only way to create an empty set is: use the set() function.

⚠️Avoid ! :
Note that, to create an empty set you have to use set() function. 
Do not use {} to create an empty set. Otherwise, you will create an empty dictionary.

In [171]:
# Let's create a simple empty set :

empty_set = set()

In [172]:
empty_set = set()

print(type(empty_set))

<class 'set'>

In [173]:
#As you can see in the output, the two 'red' values ​​we have defined in the set have fallen to one. 
#And every time you print the set, the order of the objects in the set changes.


colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}

print(colorset)
print(colorset)

{'orange', 'darkblue', 'red', 'yellow', 'purple'}
{'orange', 'darkblue', 'red', 'yellow', 'purple'}

In [174]:
s = set('unselfishness')

print(s) 
print(s)

{'n', 's', 'l', 'e', 'i', 'h', 'u', 'f'}
{'n', 's', 'l', 'e', 'i', 'h', 'u', 'f'}

In [ ]:
#As you can see, the letters of the string type data are only written once in the set. 
Within this scope, using sets can help you avoid repetitions. 
Let's convert a list into a set and look at the repetitions of its elements:

In [175]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset) 
print(flowerlist)

{'carnation', 'rose', 'violet', 'orchid'}
['carnation', 'rose', 'violet', 'orchid']

In [ ]:
Q: Which one of the following is not the correct syntax for creating a set in Python?
A:
a. set([[1,2],[3,4],[4,5]])
b. set([1,2,2,3,4,5])
c. {1,2,3,4}
d. set((1,2,3,4))

Explanation: The iterable argument given for the set must be used in a correct way.

- Interview Q&A

In [176]:
set=([[1,2],[3,4],[4,5]])
print(set)

[[1, 2], [3, 4], [4, 5]]

In [177]:
set=([1,2,2,3,4,5])
print(set)

[1, 2, 2, 3, 4, 5]

In [ ]:
set=((1,2,3,4))
print(set)

In [ ]:
#Main Operations with Sets
There are several methods that allow us to add and remove items to/from sets. 
Moreover, we have the methods of intersection, unification, and differentiation of sets :

These methods are :

.add() : Adds a new item to the set.

.remove() : Allows us to delete an item.

.intersection() : Returns the intersection of two sets.

.union() : Returns the unification of two sets.

.difference() : Gets the difference of two sets.

In [ ]:
a = set('abracadabra')

print(a)   

output :

{'a', 'b', 'c', 'd', 'r'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b


Cevap
{'b', 'd', 'r'}
{'b', 'd', 'r'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a | b)  # same as '.union()' method
print(a.union(b)) # unification of a with b


Cevap
{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}
{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a & b)  # same as '.intersection()' method
print(a.intersection(b)) # intersection of a and b

cevap
{'a', 'c'}
{'a', 'c'}

In [ ]:
a = set('abracadabra')

a.remove('c') # we delete 'c' from the set
print(a)

cevap
{'a', 'b', 'd', 'r'}

## Assignments

In [ ]:
Task :Create two sets of string data from the capitals of the USA and New Zealand. 
(e.g: 'Madrid' → convert into a set)
Perform all set operations.
Intersection
Union
Difference