None Type

In [1]:
cat = None
dog = None

In [7]:
print(dog,cat)

None None

In [8]:
x,y,z=5,5,5

In [9]:
print(x)

1

In [11]:
print(y)

2

In [9]:
x=1
y=2
z=3
print(x,y,z)

1 2 3

In [10]:
print(x+y)

3

In [11]:
print(x*2+z*2)

8

In [14]:
id(y)

4437444992

In [15]:
a=5
b=7
c=12

In [16]:
print(str)

<class 'str'>

In [20]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
a=5
b=7
c=12

In [12]:
5*2

10

In [15]:
a=5
b=7
c=12
print(a*5+b*2)

39

In [14]:
a*5

NameError: name 'a' is not defined

In [23]:
b*5

35

In [24]:
c*5

60

Constructors

In [28]:
list_b=[1,3]
print(list_b)

[1, 3]

In [29]:
list()

[]

In [30]:
tuple_b=(1,2)
tuple_b

(1, 2)

Working with String

In [31]:
"Success is measured by effort"

'Success is measured by effort'

In [32]:
kamuran='success is measured by effort'

In [33]:
kamuran

'success is measured by effort'

In [34]:
type(kamuran)

str

In [35]:
#assign a name to string object
kamuran='success is measured by effort'

In [36]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [40]:
t='turkey'
for char in t:
    print(char,type(char))

t <class 'str'>
u <class 'str'>
r <class 'str'>
k <class 'str'>
e <class 'str'>
y <class 'str'>

In [41]:
t.upper()

'TURKEY'

In [42]:
t.lower()

'turkey'

In [18]:
k='kubra'
for char in k:
    print(char,type(char))

k <class 'str'>
u <class 'str'>
b <class 'str'>
r <class 'str'>
a <class 'str'>

In [19]:
k.upper()

'KUBRA'

In [21]:
k.lower()

'kubra'

In [22]:
print(k)

kubra

In [25]:
k.swapcase()

'KUBRA'

In [26]:
k.title()

'Kubra'

c=-234+34j

In [1]:
c=234 + 34j
type(c)

complex

In [28]:
d=234 + 34j
type(d)

complex

In [29]:
d=234
type(d)

int

In [32]:
d=1.8
type(d)

float

In [33]:
d=1.8
int(d)

1

In [35]:
d='1.8'
int(float(d))

1

In [4]:
s= 1.200
print(s)

1.2

In [5]:
a=1.23
b=678
float(b)

678.0

In [6]:
x=1.0
int(x)

1

In [7]:
int(a)

1

In [8]:
#nest or chain operations together(sometimes)

In [9]:
s='1.234'
int(float(a))

1

In [10]:
int(1.234)

1

Lesson 3-intro to python

BASIC OPERATIONS AND ARITHMATIC OPERATORS

In [13]:
a=12
b=10
#addition (_add_())method of any class
a+b

22

In [14]:
#subtraction(_sub_)
a-b

2

In [15]:
-a

-12

In [16]:
#multiplication(_mul_)
a*b

120

In [17]:
#division'float division'=straight up,normal
120/10

12.0

In [19]:
#phyton 2: '/' did"floor division
#phython 3: floor division
a//b

1

In [20]:
print('a', a, 'b', b, a/b, '//', 'a//b')

a 12 b 10 1.2 // a//b

In [22]:
# modulus / module _mod_
print(a,b)
a&b

12 10

8

In [23]:
print(a//b, a&b)

1 8

In [24]:
floor=a//b
mod=a&b
floor* (a-floor*2)+mod

18

a=10
b=8
print(a/b)

In [26]:
for, test in(10,8): #for <looping var 
    if test & 10==8:
        print(test,'is even!')

SyntaxError: invalid syntax (<ipython-input-26-259a08c7a288>, line 1)

In [27]:
c=2
d=8
c**d

256

In [37]:
c=2
d=8
d**c

64

In [38]:
floor=d//c
mod=c&d
floor*(d-floor*2)+mod

0

In [39]:
floor=d//c
mod=c&d
floor*(d-floor*2)

0

In [28]:
print(11-7)
print(4+11.0)
print('11-7')

4
15.0
11-7

In [29]:
str(11-7)

'4'

In [30]:
print(4+11.0)

15.0

In [31]:
int(4.123+11.0)

15

In [32]:
print('4'+4)

TypeError: can only concatenate str (not "int") to str

In [33]:
'4'+'4'

'44'

In [40]:
'3'+'3'

'33'

In [45]:
'3'+'3'

'33'

In [34]:
4+4

8

Application: area of circle

In [35]:
# Area is radius squared pi
#pi is about 3.14156
#r=5
pi=3.14156
r=5
area=pi*r*r
area

78.539

In [36]:
pi* r**2

78.539

In [37]:
import math

In [38]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [39]:
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [40]:
import math
math.pi

3.141592653589793

In [41]:
import math
math.pi* r**2

78.53981633974483

In [42]:
import string

In [43]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [45]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [47]:
print(11%2)
print((4*5)/2)

1
10.0

In [46]:
print(12%3)
print((5*4)/2)

0
10.0

In [47]:
print(12%5)
print((5*4)/2)

2
10.0

In [48]:
print(12%6)
print((5*4)/3)

0
6.666666666666667

In [49]:
print(12%8)
print((5*4)/2)

4
10.0

Order of operation

In [ ]:
#+t-munary* / //
#Generally speaking:
#**

In [48]:
4*5/2

10.0

In [49]:
4+2*3-6%3

10

In [51]:
5+3*2-6%4

9

In [52]:
5+3*2-6%5

10

In [53]:
5+3*2-6%6

11

In [50]:
print(2**3)
print(3**2)
a=2
b=8
print((a*b)**0.5)

8
9
4.0

In [54]:
print(2**4)
print(3**2)
a=2
b=8
print((a*b)**0.5)

16
9
4.0

In [55]:
print(2**3)
print(3**2)
a=6
b=6
print((a*b)**0.5)

8
9
6.0

COMPOUND OPERATORS

In [53]:
counter=0
for loopvar in(1,3,4):
    counter += 1
    print(counter)

1
2
3

In [56]:
counter=0
for loopvar in(1,3,4):
    counter += 2
    print(counter)

2
4
6

In [57]:
counter=0
for loopvar in(1,3,4):
    counter += 3
    print(counter)

3
6
9

In [60]:
counter=0
for loopvar in(1,4,5):
    counter -= 3
    print(counter)

-3
-6
-9

In [54]:
counter=0
for loopvar in (1,3,4):
    counter=counter +1
    counter=counter -1
    counter=counter /2
    counter=counter *3
    counter=counter %2
    print(counter)

0.0
0.0
0.0

In [58]:
counter=0
for loopvar in (1,3,4):
    counter=counter += 1
    counter=counter -= 1
    counter=counter /= 1
    counter=counter //= 1
    counter=counter *= 1
    counter=counter &= 1
    counter=counter ** 2
    print(counter)

SyntaxError: invalid syntax (<ipython-input-58-badbba57dbee>, line 3)

Hypoteneus of right triangle

In [60]:
Hypoteneus=longest side(c)
Adjacent (b)
Opposite(a)
a=3
b=4
c=?
pythagoreus hyp squared=adjacent squared + opposite squared

SyntaxError: invalid syntax (<ipython-input-60-f12908cba7a5>, line 1)

In [63]:
h2=a ** 2 + b**2
h2

68

In [62]:
h2=a**2+b**2
h2

68

In [64]:
(a**2 +b**2) **.5

8.246211251235321

PRINT(and a little more about strings)

In [1]:
print("Quin is a husky!")

Quin is a husky!

In [2]:
print(1,2,'a',[23,234,45])

1 2 a [23, 234, 45]

In [3]:
#print is a 'serializer'
"object"(number,list, ...)-> something network friendly
#by default, print-> sys.stdout steam of net-friendly info (terminal)

SyntaxError: invalid syntax (<ipython-input-3-9b5cd1d49b06>, line 2)

In [4]:
print(66666, 12341224, 123456)

66666 12341224 123456

In [5]:
print(66666, 12341224, 1234124 sep= "-SEP-", end='  ')
print(66666, 12341224, 1234124 sep= "-SEP-")

SyntaxError: invalid syntax (<ipython-input-5-5e92be451296>, line 1)

In [1]:
print(function.__doc__)

NameError: name 'function' is not defined

In [2]:
no1, no2 = 46, 52
no3 = no1-no2
print(no3)

-6

In [3]:
#The values of non-boolean types (integers, strings, etc.) are considered truthy or falsy when used with logical operations, depending on whether they are seen as True or False.

The following values are considered False, in that they evaluate to False when applied to a boolean operator:

None.
Zero of any numeric type: 0, 0.0, 0j
Empty sequences and collections: '', [], {}.
Other than above values, any remaining value is evaluated as True.
Here are some and operations :

SyntaxError: invalid syntax (<ipython-input-3-d47b77fb6c15>, line 3)

In [4]:
print(2 and 3)

3

In [61]:
print(3 and 2)

2

In [63]:
print()

In [68]:
print(2)

2

In [69]:
print(4 and 0)

0

In [70]:
print(0 and 4)

0

In [5]:
print(1 and 0)

0

In [6]:
print(2 and 0)

0

In [7]:
print(1 and "I am doing good!")

I am doing good!

In [8]:
print([] and "Hello World!")

[]

In [9]:
#Here are some or operations :
print(2 or 3)
print(0 or {})
print([] or "Hello World!")

2
{}
Hello World!

#Indexing&Slicing Strings
As we mentioned earlier, one of the most powerful aspects of Python is its string processing capability. You can access all elements of a string type data very easily. Accordance with the sequence of string letters, you can specify them from left to right in brackets, as follows:

fruit = 'Orange'

print('Word                   : ' , fruit)
print('First letter           : ' , fruit[0])
print('Second letter          : ' , fruit[1])
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

In [10]:
fruit = 'Orange'

print('Word                   : ' , fruit)
print('First letter           : ' , fruit[0])
print('Second letter          : ' , fruit[1])
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

Word                   :  Orange
First letter           :  O
Second letter          :  r
3rd to 5th letters     :  ang
Letter all after 3rd   :  ange

In [11]:
fruit = 'Apple'

print('Word                   : ' , fruit)
print('third letter           : ' , fruit[0])
print('Second letter          : ' , fruit[1])
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

Word                   :  Apple
third letter           :  A
Second letter          :  p
3rd to 5th letters     :  ple
Letter all after 3rd   :  ple

#Tips:
Remember, the enumeration of a string starts from zero.
The formula syntax of string indexing is : string[start:stop:step].

#string[:] : returns the full copy of the sequence

#string[start:] : returns elements from start to the end element

#string[:stop] : returns element from the 1st element to stop-1

#string[::step] : returns each element with a given step

#Let's see it in an example :

city = 'Phoenix'

print(city[1:])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

In [12]:
city = 'Phoenix'

print(city[1:])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

hoenix
Phoeni
Ponx
hei
nix
xineohP

In [15]:
city ='Phoenix'
print(city[1:])

hoenix

In [16]:
print(city[:6])

Phoeni

In [17]:
print(city[::2])

Ponx

In [18]:
print(city[1::2])

hei

In [19]:
print(city[-3:])

nix

In [20]:
print(city[::-1])

xineohP

In [21]:
city = 'Mars'

print(city[1:])  # starts from index 1 to the end
print(city[:4])  # starts from zero to 4th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

ars
Mars
Mr
as
ars
sraM

In [22]:
city = 'Jupiter'

print(city[1:])  # starts from index 1 to the end         rint
print(city[:6])  # starts from zero to 6th index          jupite
print(city[::2])  # starts from zero to end by 2 step     jptr
print(city[1::2])  # starts from index 1 to the end by 2 step  uie  
print(city[-3:])  # starts from index -3 to the end           ter
print(city[::-1])  # negative step starts from the end to zero retipuj

upiter
Jupite
Jptr
uie
ter
retipuJ

In [23]:
print(city[1:])

upiter

#You can use the len() function to find out the length (number of characters) of a text or a variable of any type.

vegetable = 'Tomato'

print('length of the word', vegetable, 'is :', len(vegetable))

In [24]:
vegetable = 'Tomato'

print('length of the word', vegetable, 'is :', len(vegetable))

length of the word Tomato is : 6

In [25]:
str = 'Python Language'
print(str[4:])

on Language

In [26]:
# String Formatting with Arithmetic Syntax
There are several ways in Python that we use when processing and using string data structures. 
The most important of these are:

Arithmetic syntax (+, *, and =),

% operator formatting,

string.format() method,

f-string formatting.

We have stated to you what the function is? in the previous lessons.
At this point, let us give the definition of the term method. 
A method is like a function, except it is attached to an object. 
We call a method on an object, and it possibly makes changes to that object (like string.format()). 
A method, then, belongs to a class.

Arithmetic syntax (+, =, *) :
We can use + operator for combining the two string together without any spaces. For example :

SyntaxError: invalid syntax (<ipython-input-26-3308770296e9>, line 2)

In [9]:
print('Leap Year Check!!')
year = int(input('Enter year: '))
print(year%4==0 and year%100!=0 or year%400==0)

Leap Year Check!!
Enter year: 1000
False

In [10]:
year = int(input("Enter Year: "))

# Leap Year Check
if year % 4 == 0 and year % 100 != 0:
    print(year, "is a Leap Year")
elif year % 100 == 0:
    print(year, "is not a Leap Year")
elif year % 400 ==0:
    print(year, "is a Leap Year")
else:
    print(year, "is not a Leap Year")

Enter Year: 2000
2000 is not a Leap Year

In [17]:
def year_days(y):
  if ( y%4==0 and y%100!=0 ) or ( y%400 == 0 ):
    return True

    return False

In [18]:
sales = {
  "cost_value": 31.87,
  "sell_value": 45.00,
  "inventory": 1000
}
print(round((sales["sell_value"] - sales["cost_value"]) * sales["inventory"]))

13130

In [21]:
sales = {
  "cost_value": 31.87,
  "sell_value": 45.00,
  "inventory": 1000
}
print(int(sell_value*inventory))-int(cost_value*inventory)))

SyntaxError: unmatched ')' (<ipython-input-21-73749dfc9cf9>, line 6)

In [24]:
rate = 3
amount1 = '${:.2f}'.format(rate)
print(amount1)
rate = 29.99
print("${:.2f}".format(rate))
rate = 4.1
print("${:.2f}".format(rate))

$3.00
$29.99
$4.10

In [27]:
print('clarus' + 'way')

clarusway

In [28]:
#We can also use * operator for repeating the string without any spaces. For example :
print(3*'no way!')

no way!no way!no way!

In [29]:
print(2*'I love my daughter')

I love my daughterI love my daughter

In [30]:
fruit = 'Orange'
vegetable = 'Tomato'
print("using + :", fruit + vegetable)
print("using * :", 3 * fruit)

using + : OrangeTomato
using * : OrangeOrangeOrange

In [31]:
fruit = 'asude'
vegetable = 'eymen'
print("using + :", fruit + vegetable)
print("using * :", 2 * vegetable)

using + : asudeeymen
using * : eymeneymen

In [32]:
fruit = 'orange'
fruit += ' apple'
fruit += ' banana'
fruit += ' apricot'

print(fruit)

orange apple banana apricot

In [33]:
# There are several ways in Python that we use when processing and using string data structures. What are the most important of these:
A:
Arithmetic syntax (+, * and =),
% operator formatting,
string.format() method,
f-string formatting.

SyntaxError: invalid syntax (<ipython-input-33-2feb34f2a2f7>, line 2)

In [ ]:
#String Formatting with '%' Operator
The other way that you will learn to format the strings is % operator. 
This one is not a frequently used way, but it's worth learning.

' % ' operator formatting :
% operator gets the values in order and prints them in order using several characters accordingly. Look at the example :

For now, we used only s, d and f characters to specify the data type in a string.

In [35]:
phrase = 'I have %d %s and %.2f brothers' % (4, "children", 5)  
print (phrase)

I have 4 children and 5.00 brothers

Here in the example, the % operator first takes '4' and puts it in the first % operator, then takes 'children' secondly and puts it in the second % operator and finally takes '5' and puts it in the third % operator.

Tips:
In the '%s' syntax : s stands for 'string'.
In the '%.2f' syntax : f stands for 'float'. In this example 2 digits after point.
In the '%d' syntax : d stands for 'numeric'.
If you want, you can limit the character numbers of the strings. Here is an example :

In [36]:
sentence = "apologizing is a virtue"

print("%.11s" % sentence)  # we get first 11 characters of the string

apologizing

In [38]:
sentence="love is poison"
print("%.3s" % sentence)

lov

In [39]:
sentence="love is poison"
print("%.9s" % sentence)

love is p

In [40]:
print('%(amount)d pounds of %(fruit)s left' % {'amount': 33, 'fruit':'bananas'})

33 pounds of bananas left

In [41]:
x = "HelloWorld!"
print('%.5s' % x)

Hello

String Formatting with 'string.format()' Method
You can make strings change depending on the value of a variable or an expression. The main methods of Python to format the output are :

'string.format()' method :
string.format() method is the improved form of % operator formatting.

As in this example below, the value of expression comes from .format() method in order. Curly braces {} receives values from .format().

In [42]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit, amount))

The amount of Orange we bought is 4 pounds

In [43]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 5
print('The amount of {} we bought is {} pounds'.format(vegetable, amount))

The amount of Tomato we bought is 5 pounds

In [44]:
#If youve written more variables than you need in the .format() method, the extra ones just will be ignored. Using keywords in {} makes string more readable. For example:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [45]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

In [46]:
"Good teachers know how to bring out the best in students."
print(str(format))

TypeError: 'str' object is not callable

String Formatting with 'f-string'
It is the easiest and useful formatting method of the strings.

'f-string' formatting :
It makes string formatting easier. This method was introduced in 2015 with Python 3.6.

f-string is the string syntax that is enclosed in quotes with a letter f at the beginning. Curly braces {} that contain variable names or expressions are used to replace with their values.

Sample of a formula syntax is : f"strings {variable1} {variable2} string {variable3}"

Let's look at the example below on how the syntax is simple and readable.

In [47]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [48]:
result = f"{4 * 5}"
print(result)

20

In [49]:
my_name = 'JOSEPH'
output = f"My name is {my_name.capitalize()}"

print(output)

My name is Joseph

In [55]:
my_name = 'ALI'
output = F"My name is {my_name.capitalize()}"

print(output)

My name is Ali

In [56]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (f"Hi {name}. "f"You are one of the {job} "f"in the {domain} section.")
print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [60]:
#If you want to use multiple 'f-string formatting' lines without parentheses, what will be the other option that you can use?
#A: You can use backslashes \ between f-lines.
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = f"Hi {name}. " \
     f"You are one of the {job} " \
     f"in the {domain} section."

print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [64]:
nname = "Joseph"
job = "teachers"
domain = "Data Science"
message = f"Hi {name}. " \
     f"You are one of the {job} " \
     f"in the {domain} section."

print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [ ]:
# When did Linus announced kernel to the world?

Select one:1991

In [1]:
#Type a Python code to get the output of I live in Sarajevo.
#, using .capitalize() and f-string methods with the city variable below.

city = "SARAJEVO"
text=f"I live in {city.capitalize()}."
print(text)

I live in Sarajevo.

MAIN STRING OPERATIONS

In [2]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [3]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [7]:
stg='pat has a husky'
stg

'pat has a husky'

In [12]:
up=stg.upper()

In [16]:
var_string='Clarusway'
print(var_string.lower())
print(var_string)

clarusway
Clarusway

In [14]:
var_string='Clarusway'.lower()
print(var_string)

clarusway

In [17]:
var_string='Clarusway'
print(var_string.lower())
print(var_string)
var_string='Clarusway'.lower()
print(var_string)

clarusway
Clarusway
clarusway

In [18]:
var_str='In God we Trust'
var_str.lower()
print(var_str)

In God we Trust

In [19]:
help(str.startswith)

Help on built-in function startswith:

startswith(...) method of builtins.str instance
    S.startswith(prefix[, start[, end]]) -> bool

    Return True if S starts with the specified prefix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    prefix can also be a tuple of strings to try.

In [20]:
#short prefix
str.startswith('p')

True

In [21]:
#full prefix
str.startswith('pat')

True

In [23]:
#start at the beginning
str.startswith('has', 0)

False

In [24]:
str.startswith('has',4)

True

In [25]:
# str.endswith

In [26]:
str.endswith

In [27]:
help(str.endswith)

Help on built-in function endswith:

endswith(...) method of builtins.str instance
    S.endswith(suffix[, start[, end]]) -> bool

    Return True if S ends with the specified suffix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    suffix can also be a tuple of strings to try.

In [28]:
str
str.endswith

In [29]:
str.endswith('ky')

True

In [30]:
str.endswith('husky')

True

In [31]:
str.endswith('has')

False

In [32]:
str[0:7]

'pat has'

#Dictionaries

In [1]:
#Definitions
#In this topic, we will examine the collection types which store item pairs. What does it mean?

#Think of a real dictionary. It contains words and their meanings. 
#In Python, you can accept the words as key and the meaning of the words as value.

#A dictionary in Python is a collection of key-value pairs called items of a dictionary. 
#The dictionary is enclosed 
#by curly braces {}. Each pair (item) is separated by a comma and the key and value are separated by a colon.

In [ ]:
#Creating a Dictionary
#A dictionary also can be created by enclosing pairs, separated by commas, in curly-braces.
Looks like list or tuple, right?

And of course, we can use a function to create a dictionary : 'dict()' function. 
    Let's create a simple empty dict :

empty_dict_1 = {}

empty_dict_2 = dict()

In [3]:
empty_dict_1 = {}

print(type(empty_dict_1))

<class 'dict'>

In [4]:
my_dict = {'key1': 'value1',
            'key2': 'value2',
            'key3': 'value3'
            }

In [5]:
#The syntax for accessing an item is very simple. We write a key that we want to access in square brackets. 
#This method works both for adding items to a dict and for reading them from there.

#In the following examples, you'll see several methods that allow us to create a dict and add a key-value pair to it.

In [6]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [8]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Georgia']) # accessing method

Atlanta

In [9]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [10]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['New Jersey'] = 'Elmwoodpark' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'New Jersey': 'Elmwoodpark'}

In [11]:
#Note that keys and values can be of different types.
mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}

In [12]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [13]:
#Q: What is a dictionary in Python?
A: Python dictionary is one of the supported data types in Python. 
    It is an unordered collection of elements. The elements in dictionaries are stored as keyvalue pairs. 
    Dictionaries are indexed by keys. For example, below we have a dict named my_dict. 
    It contains two keys, fruit and vegatable, along with their corresponding values, banana and onion.

my_dict = {'fruit':'banana', 'vegatable':'onion'}

- Interview Q&A

SyntaxError: invalid syntax (<ipython-input-13-9b8cd3927768>, line 2)

# Main Operations with Dictionaries

In [14]:
#There are several methods that allow us to access items, keys, and values. 
#You can access all items using the .items() method, all keys using the .keys() method, 
#and all values using the .values() method:

In [15]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [16]:
#You have learned that you can add a new item by assigning value to a key that is not in the dictionary. 
Likewise, you can add new items using the .update() method. Let's see :

SyntaxError: invalid syntax (<ipython-input-16-b22c7a15df60>, line 2)

In [17]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False})

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [21]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'love': True})

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'love': True}

In [22]:
#You can also remove an item using the del function:

The formula syntax is : del dictionary_name['key'].

SyntaxError: invalid syntax (<ipython-input-22-00a9788e827a>, line 3)

In [23]:
dict_by_dict = {'animal': 'dog',
               'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

del dict_by_dict['animal']

print(dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [24]:
dict_by_dict = {'animal': 'dog',
               'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

del dict_by_dict['number']

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [25]:
dict_by_dict = {'animal': 'dog',
               'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

del dict_by_dict['is_good']

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_bad': False}

In [4]:
dict_by_dict={'human': 'Ali',
              'planet':'Neptun',
              'number': 34,
              'is_good': True,
              'is_bad': False
            }
del dict_by_dict['number']
print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('human', 'Ali'), ('planet', 'Neptun'), ('is_good', True), ('is_bad', False)])

dict_keys(['human', 'planet', 'is_good', 'is_bad'])

dict_values(['Ali', 'Neptun', True, False])

## Using the in and the not in operator, you can check if the key is in the dictionary.

When we use the in operator; if the key is in the dictionary, the result will be True otherwise False.

When we use the not in; if the key is not in the dictionary, the result will be True otherwise False.

In [26]:
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('pi' in dict_by_dict) 
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'

True
True

In [27]:
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('planet' in dict_by_dict) 
print('is_good' not in dict_by_dict)  # remember, we have deleted 'animal'

True
False

In [29]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }

print(student_ages["Clark"])

32

# Nested Dictionaries
In some cases, you need to work with the nested dict. When you decide to specialize in data science, we will work very often with dictionaries in the future.

In [30]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [31]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class":"intermediate", "age":10},
                "sue": {"class":"elementary", "age":8}
               },
         "teen":{"joseph":{"class":"college", "age":19},
                 "marry":{"class":"high school", "age":16}
               },               
        },
}

print(school_records['personal_info']['teen']['marry']['age'])

16

In [32]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class":"intermediate", "age":10},
                "sue": {"class":"elementary", "age":8}
               },
         "teen":{"joseph":{"class":"college", "age":19},
                 "marry":{"class":"high school", "age":16}
               },               
        },
}

print(school_records['personal_info']['teen']['marry']['class'])

high school

In [33]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class":"intermediate", "age":10},
                "sue": {"class":"elementary", "age":8}
               },
         "teen":{"joseph":{"class":"college", "age":19},
                 "marry":{"class":"high school", "age":16}
               },               
        },
}

print(school_records['personal_info']['kid']['tom']['age'])

10

In [34]:
#Dictionaries strongly resemble JSON syntax. 
The native json module in the Python standard library can be used to convert between JSON and dictionaries.

SyntaxError: invalid syntax (<ipython-input-34-089d6dddb2df>, line 2)

In [35]:
>>> tel = {'jack': 4098, 'sape': 4139}
>>> tel['guido'] = 4127
>>> tel
{'jack': 4098, 'sape': 4139, 'guido': 4127}
>>> tel['jack']
4098
>>> del tel['sape']
>>> tel['irv'] = 4127
>>> tel
{'jack': 4098, 'guido': 4127, 'irv': 4127}
>>> list(tel)
['jack', 'guido', 'irv']
>>> sorted(tel)
['guido', 'irv', 'jack']
>>> 'guido' in tel
True
>>> 'jack' not in tel
False

False

In [8]:
#How can we access and print Lisas age? Write the syntax.

customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
 },
}

print(customers ['insurance'][5]['age'])

22

# Sets

In [40]:
#Definitions
A set is a collection of elements with no repeats and without insertion order but sorted order.

Basic uses include membership testing and eliminating duplicate entries. 
Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

They can hold multiple data in them, but only one of value. 
They are used in situations where it is only important that some things are grouped together, 
and not what order they were included.

SyntaxError: invalid syntax (<ipython-input-40-3d9cf27f275a>, line 2)

In [41]:
#Creating a Set
Curly braces '{}' or the set() function can be used to create sets.
But the only way to create an empty set is: use the set() function.

Avoid ! :
Note that, to create an empty set you have to use set() function. 
Do not use {} to create an empty set. Otherwise, you will create an empty dictionary.

SyntaxError: invalid syntax (<ipython-input-41-194a4e16edca>, line 2)

In [42]:
# Let's create a simple empty set :

empty_set = set()

In [43]:
empty_set = set()

print(type(empty_set))

<class 'set'>

In [44]:
#As you can see in the output, the two 'red' values we have defined in the set have fallen to one. 
#And every time you print the set, the order of the objects in the set changes.


colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}

print(colorset)
print(colorset)

{'darkblue', 'orange', 'yellow', 'red', 'purple'}
{'darkblue', 'orange', 'yellow', 'red', 'purple'}

In [46]:
s = set('unselfishness')

print(s) 
print(s)

{'f', 'n', 'u', 'i', 's', 'h', 'l', 'e'}
{'f', 'n', 'u', 'i', 's', 'h', 'l', 'e'}

In [47]:
#As you can see, the letters of the string type data are only written once in the set. 
Within this scope, using sets can help you avoid repetitions. 
Let's convert a list into a set and look at the repetitions of its elements:

SyntaxError: invalid syntax (<ipython-input-47-30edd4927cd2>, line 2)

In [48]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset) 
print(flowerlist)

{'carnation', 'violet', 'orchid', 'rose'}
['carnation', 'violet', 'orchid', 'rose']

In [49]:
#{'carnation', 'orchid', 'rose', 'violet'}  {'rose', 'orchid', 'rose', 'violet', 'carnation'} 
Do these two sets give the same output and why? 
(Note: Try to figure out the answer before run on the Playground)

SyntaxError: invalid syntax (<ipython-input-49-5dda77f8b6ce>, line 2)

In [50]:
Q: Which one of the following is not the correct syntax for creating a set in Python?
A:
a. set([[1,2],[3,4],[4,5]])
b. set([1,2,2,3,4,5])
c. {1,2,3,4}
d. set((1,2,3,4))

Explanation: The iterable argument given for the set must be used in a correct way.

- Interview Q&A

SyntaxError: invalid syntax (<ipython-input-50-61f5ffc0ab22>, line 2)

In [52]:
set=([[1,2],[3,4],[4,5]])
print(set)

[[1, 2], [3, 4], [4, 5]]

In [53]:
set=([1,2,2,3,4,5])
print(set)

[1, 2, 2, 3, 4, 5]

In [54]:
{1,2,3,4}

{1, 2, 3, 4}

In [55]:
set=((1,2,3,4))
print(set)

(1, 2, 3, 4)

In [56]:
set((1,2,3,4))

TypeError: 'tuple' object is not callable

In [57]:
#Main Operations with Sets
There are several methods that allow us to add and remove items to/from sets. 
Moreover, we have the methods of intersection, unification, and differentiation of sets :

These methods are :

.add() : Adds a new item to the set.

.remove() : Allows us to delete an item.

.intersection() : Returns the intersection of two sets.

.union() : Returns the unification of two sets.

.difference() : Gets the difference of two sets.

SyntaxError: invalid syntax (<ipython-input-57-b33ebbb893cb>, line 2)

In [61]:
a = set('abracadabra')

print(a)   

output :

{'a', 'b', 'c', 'd', 'r'}

SyntaxError: invalid syntax (<ipython-input-61-cb85dbc7fd47>, line 5)

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b


Cevap
{'b', 'd', 'r'}
{'b', 'd', 'r'}

In [63]:
a = set('abracadabra')
b = set('alacazam')

print(a | b)  # same as '.union()' method
print(a.union(b)) # unification of a with b


Cevap
{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}
{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

TypeError: 'tuple' object is not callable

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a & b)  # same as '.intersection()' method
print(a.intersection(b)) # intersection of a and b

cevap
{'a', 'c'}
{'a', 'c'}

In [ ]:
a = set('abracadabra')

a.remove('c') # we delete 'c' from the set
print(a)

cevap
{'a', 'b', 'd', 'r'}

In [ ]:
a = set('abracadabra')

a.add('c') # we add 'c' again into the set
print(a)

cevap:
    {'a', 'b', 'c', 'd', 'r'}

In [ ]:
Additionally, you can:

Get the number of sets elements using len() function,
Check if an element belongs to a specific set(in / not in operators), you get the boolean value.
Thus, we have completed this topic which is the most important one in Python.

In [ ]:
print(len(set('listen to the voice of enlisted')))

cevap:

In [ ]:
#If you want to create a single element ________tuple
 , an error will probably rise, unless you use a 
comma

In [66]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

In [77]:
#Write a program that add "20" as the second element of the list below and print the new list.

numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1, 20)
print(numbers_10)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [130]:
#Write a program that remove "40" as the third element of the list below and print the new list.

numbers_10 = [10, 20, 30, 40, 40, 50, 60, 70, 80, 90, 100]
numbers_10.remove(40)
print(numbers_10)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [144]:
numbers_10 = [10, 20, 30, 40, 40, 50, 60, 70, 80, 90, 100]
numbers_10.remove(90)
print(numbers_10)

[10, 20, 30, 40, 40, 50, 60, 70, 80, 100]

In [146]:
#'list' object has no attribute 'add'.....There is 'insert' option

numbers_10 = [10, 20, 30, 40, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(4,60)
print(numbers_10)

[10, 20, 30, 40, 60, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
#'list' object has no attribute 'intersection' it gives attribute error

a=numbers_10 = [10, 20, 30, 40, 40, 50, 60, 70, 80, 90, 100]
b=numbers_20 =[20, 40, 60, 80, 10]
print(a.intersection(b))

In [147]:
a=numbers_10 = [10, 20, 30, 40, 40, 50, 60, 70, 80, 90, 100]
print(numbers_10[3])

40

In [149]:
a=numbers_10 = [10, 20, 30, 40, 40, 50, 60, 70, 80, 90, 100]
print(numbers_10[7])

70

In [127]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][1])

broccoli

In [128]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[2][0])

apple

In [78]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana"], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach

In [ ]:
Meghan created a list consists of the name of her family members. 
She doesn't want anyone to be able to add/remove or change the names. Help her make the names immutable and print.

Hint : Convert the list to the tuple type and print it.

Answer:(penalty regime: 0, 10, 20, ... %)

In [79]:
family_members = ['Meghan', 'Tom', 'Nicole', 'Tim']
tuple1= tuple(family_members)
print(tuple1)

('Meghan', 'Tom', 'Nicole', 'Tim')

In [ ]:
Difference between List and Tuple
List                                        Tuple

Mutable in nature                         Immutable in nature

Operations are performed better           Elements can be accessed faster

More memory consumption                   Less memory consumption

Consists of various built-in methods      Do not consist of any built-in methods

Errors occur frequently                   No such problem occurs

Iterations are time-consuming in list     Iterations are faster in the tuple

In [ ]:
Structure of the 'if' Statements
In some cases, your program needs to execute some part of the code only if a specific condition is true. 
The simple structure of an if statement is :

if condition:
    body  # the body code should start at indentation (four spaces)
The if statements check the condition.
The condition is always a Boolean expression, that is, its value equals either True or False.

If it evaluates to True, it executes the body of the if statement. 
If it evaluates to False, it skips the body. This logic works like the English language.

In [80]:
if True:
    print('it is true')

it is true

In [81]:
empty_seat = 14

if empty_seat > 3:  # in this case, 14>3=True, so the body will execute
    print('there is still seat to sit')

there is still seat to sit

In [ ]:
Which symbol is used immediately after the conditional expression line 
and before indent of the execution body in the if statements?(colon)

In [ ]:
Comparison Operators
Boolean values basically make it clear if a piece of code needs to be executed.
Because comparisons result in bool, it's always best to use them as a condition.

In [ ]:
==	Returns True if two values are equal or False if different	2 == 2 (True), 2 == 3 (False)

!=	Returns True if two values are not equal or False if equal	2 != 2 (False), 2 != 3 (True)

>	Returns True if the value on the left is greater than the value on the right otherwise returns
False	3 > 2 (True), 2 > 3 (False)

<	Returns True if the value on the left is less than the value on the right otherwise returns 
False	2 < 3 (True), 3 < 2 (False)

>=	Returns True if the value on the left is greater than or equal to the value on the right otherwise returns
False	3 >= 2 (True), 3 >= 3 (True), 2 >= 3 (False)

<=	Returns True if the value on the left is less than or equal to the value on the right otherwise returns
False	3 <= 2 (False), 3 <= 3 (True), 2 <= 3 (True)

In [ ]:
Avoid ! :
Do not use assignment operator = in comparison statements. In comparisons, you have to use == operator for equality.

In [82]:
x = 6
y = 9
print ("is x equal to y?                 :" , x == y)
print ("is x not equal to y?             :" , x != y)
print ("is x less than y?                :" , x < y)
print ("is x greater than y?             :" , x > y)
print ("is x less than or equal to y?    :" , x <= y)
print ("is x greater than or equal to y? :" , x >= y)

is x equal to y?                 : False
is x not equal to y?             : True
is x less than y?                : True
is x greater than y?             : False
is x less than or equal to y?    : True
is x greater than or equal to y? : False

In [ ]:
'if-else' Statements
In this part of the topic, we will first examine if-else statements.

An if-else statement is another kind of conditional statements in Python. 
It is used with an additional keyword: else.

else works like an if statement. 
If none of the conditions in if are ensured, "else" will be used to specify all remaining conditions. 
The simple structure of an if-else looks like :

In [ ]:
if condition1:  
    execute body1
else : # if condition1 is not ensured execute body2
    execute body2
    
    
    Tips :
Note that, else doesn't require any condition and the body2 requires 4-space indentation here.

In [83]:
course = 'clarusway'

if course == "clarusway":
    print("you guaranteed the job")
else:
    print("think about it again")

you guaranteed the job

In [84]:
course = 'If the God wants'

if course == "If the God wants":
    print("everything is possible")
else:
    print("Wishes come true")

everything is possible

In [85]:
number = 5
if number <= 3:    
    print("Number is smaller than or equal to 3") 
else:  # Optional clause (you can only have one else)
    print("Number is bigger than 3")

Number is bigger than 3

In [86]:
number = 2
if number <= 3:    
    print("Number is smaller than or equal to 3") 
else:  # Optional clause (you can only have one else)
    print("Number is bigger than 3")

Number is smaller than or equal to 3

In [87]:
number = 3
if number <= 3:    
    print("Number is smaller than or equal to 3") 
else:  # Optional clause (you can only have one else)
    print("Number is bigger than 3")

Number is smaller than or equal to 3

In [ ]:
'if-elif-else' Statements
The elif statement is used when it requires to specify several conditions in our program.

In Python you can dene a series of conditionals using :

if for the rst one,
elif for the rest, up until the nal (optional),
else for anything not caught by the other conditionals.
The basic structure of these statements looks like :
    
    
    if condition1:
    execute body1

elif condition2:
    execute body2

else:
    execute body3

    How does the structure of statement work? : condition1 is checked first, and if the result is True 
        
    the body1 in the 'if' statement' will be executed. If not, condition2 in the 'elif' statement is checked. 
    If the result is True, body2 will be executed, if not, body3 in the last control point 'else' will be executed.

In [88]:
weight = 80

if weight > 100:
    print("That's too heavy!")
elif weight > 75:
    print("I can lift that!")
else:
    print("That's too light!")

I can lift that!

In [89]:
weight = 110

if weight > 100:
    print("That's too heavy!")
elif weight > 75:
    print("I can lift that!")
else:
    print("That's too light!")

That's too heavy!

In [90]:
weight = 60

if weight > 100:
    print("That's too heavy!")
elif weight > 75:
    print("I can lift that!")
else:
    print("That's too light!")

That's too light!

In [ ]:
As we stated before, the code inside the else block is executed only if all conditions before it is False. 
Let's see it in an example :

In [91]:
audience = "baby"

if audience == "kid":
    print("it is free to go to cinema")
elif audience == "teen":
    print("discounted price!")
elif audience == "adult":
    print("normal price")
else:
    print("No such audience, stay at your home!")

No such audience, stay at your home!

In [92]:
audience = "adult"

if audience == "kid":
    print("it is free to go to cinema")
elif audience == "teen":
    print("discounted price!")
elif audience == "adult":
    print("normal price")
else:
    print("No such audience, stay at your home!")

normal price

In [93]:
audience = "teen"

if audience == "kid":
    print("it is free to go to cinema")
elif audience == "teen":
    print("discounted price!")
elif audience == "adult":
    print("normal price")
else:
    print("No such audience, stay at your home!")

discounted price!

In [94]:
audience = "teenager"

if audience == "kid":
    print("it is free to go to cinema")
elif audience == "teen":
    print("discounted price!")
elif audience == "adult":
    print("normal price")
else:
    print("No such audience, stay at your home!")

No such audience, stay at your home!

In [98]:
number=23
if number>= 10:
    print("The number is equal or greater than 10")
else:
    print("The number is less than 10")

The number is equal or greater than 10

In [ ]:
Nested 'if-elif-else' Statements
Both if-else and if-elif statements can be nested. Let's see the nested structure on the same movie ticket example.

In [99]:
audience_group = 'kid', 'teen', 'adult'

audience = "teen"

if audience in audience_group:
    if audience == "kid":
        print("it is free to go to cinema")
    elif audience == "teen":
        print("discounted price!")
    else: # audience == "adult":
        print("normal price")
else:
    print("No such audience, stay at your home!")

discounted price!

In [100]:
audience_group = 'kid', 'teen', 'adult'

audience = "teen,kid"

if audience in audience_group:
    if audience == "kid":
        print("it is free to go to cinema")
    elif audience == "teen":
        print("discounted price!")
    else: # audience == "adult":
        print("normal price")
else:
    print("No such audience, stay at your home!")

No such audience, stay at your home!

In [101]:
audience_group = 'kid', 'teen', 'adult'

audience = "teen" or "adult"

if audience in audience_group:
    if audience == "kid":
        print("it is free to go to cinema")
    elif audience == "teen":
        print("discounted price!")
    else: # audience == "adult":
        print("normal price")
else:
    print("No such audience, stay at your home!")

discounted price!

In [ ]:
score = int (input("75 :"))

if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
else:
    Score_letter="below B"

print ("Your degree: %s" % Score_letter)

In [ ]:
score = int (input("80 :"))

if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
else:
    Score_letter="below B"

print ("Your degree: %s" % Score_letter)

In [150]:
#boolean expression(true false statements)
var = 100
if ( var  == 100 ) : print ("Value of expression is 100")
print ("Good bye!")

Value of expression is 100
Good bye!

In [103]:
#string comparison are case sensitive
country='Canada'
if country=='canada':
    print('oh look a canadian')
else:
    print('You are not from canada')

You are not from canada

In [104]:
country='Canada'
if country.lower()=='canada':
    print('oh look a canadian')
else:
    print('You are not from canada')

oh look a canadian

In [ ]:
if the province=='Alberta':
    tax=0.05
if the province=='Nunavut':
    tax=0.05
if the province=='Ontario':
    tax=0.13

In [ ]:
#if the only one of the conditions will ever occur you can use a single if statement with 'elif'

if the province=='Alberta':
    tax=0.05
if the province=='Nunavut':
   elif tax=0.05
if the province=='Ontario':
   elif tax=0.13

In [ ]:
# When you use elif instead of multiple if statements you can add a default action

if province=='Alberta':
    tax=0.05
if province=='Nunavut':
elif tax=0.05
if province=='Ontario':
elif tax=0.13
else:
    tax=0.15

In [ ]:
if province=='Alberta':
    tax=0.05
if province=='Nunavut':
elif tax=0.05
if province=='Ontario':
elif tax=0.13
else:
    tax=0.15

In [ ]:
# if multiple condition cause the same actiont they can be combined into a single condition

if province=='Alberta'\
   or province=='Nunavut':
    tax=0.05
if province=='Ontario':
elif tax=0.13
else:
    tax=0.15

In [ ]:
# if you hava a list of possible  values to check,you can use 'IN' operator

if province in ('Alberta',\
   'Nunavut','Yukon'):
    tax=0.05
if province=='Ontario':
elif tax=0.13
else:
    tax=0.15

In [ ]:
#if an action depends on a combination of conditions you can nest if statements

if country=='Canada':
    if province in ('Alberta',\
   'Nunavut','Yukon'):
    tax=0.05
    if province=='Ontario':
        elif tax=0.13
    else:
        tax=0.15
else:
        tax=0.0

In [ ]:
#Sometimes you can combine conditons with and instead of nesting if statements
-requirements for honor roll
-minimum 85% grade point average
-lowest grade is at least 70% 

if gpa>= 0.85:
    if lowest_grade>=0.70:
        print('Well done')

In [ ]:
if gpa>= 0.85 and lowest_grade>=0.70:
        print('Well done')

In [ ]:
#if you need to remember the results of a condition check later in your code, Boolean variables as flags


if gpa>= 0.85 and lowest_grade>=0.70:
    honor_roll= True
else:
    honor_roll= False
    #somewhere later in your code
if honor_roll:
        print('Well done')

In [ ]:
LOOP
When writing programs in Python, in some cases it is not enough to execute our block of code only once. 
The loops are used to repeat (iterate) the execution of a block of code.

As one of the most main functions in programming, loops are an important part of almost every programming language.
Loops enable programmers to set certain sections of their code 
to repeat through a number of loops which are referred to as iterations.

This topic covers using multiple types of loops and applications of loops in Python. 
You will learn two types of loops which are :

while Loop,
for Loop.

'while' Loop
while loops have a boolean logic, similar to if statements. 
As long as the result of the condition returns True, the code block under while loop runs. 
When the condition returns to False, the loop execution is terminated 
and the program control moves further to the next operation. Here is the simple structure of a while loop :

while condition:
   body


We will not use this loop as often as the for loop, but it is still worth understanding.
number = 0

while number < 6:
    print(number)
    number += 1
print('now, number is bigger or equal to 6')
Let's create our first while loop :

A loop statement allows us to execute a statement or group of statements multiple times. 
The following diagram illustrates a loop statement 

Python programming language provides the following types of loops to handle looping requirements.

Sr.No.	Loop Type & Description
1	while loop
Repeats a statement or group of statements while a given condition is TRUE. 
It tests the condition before executing the loop body.

2	for loop
Executes a sequence of statements multiple times and abbreviates the code that manages the loop variable.

3	nested loops
You can use one or more loop inside any another while, or for loop.

Loop Control Statements
The Loop control statements change the execution from its normal sequence. 
When the execution leaves a scope, all automatic objects that were created in that scope are destroyed.

Python supports the following control statements.

Python supports the following control statements.

Sr.No.	Control Statement & Description
1	break statement
Terminates the loop statement and transfers execution to the statement immediately following the loop.

2	continue statement
Causes the loop to skip the remainder of its body and immediately retest its condition prior to reiterating.

3	pass statement
The pass statement in Python is used when a statement is required syntactically
but you do not want any command or code to execute.

In [151]:
number = 0

while number < 6:
    print(number)
    number += 1
print('now, number is bigger or equal to 6')

0
1
2
3
4
5
now, number is bigger or equal to 6

In [ ]:
Avoid ! :
If we make a logical mistake in the loop variable (since you dont increase your variable,
a condition never becomes False and can work forever), we can start an infinite loop! 
For this reason, we have to specify a condition for the loop to give False to exit the loop.

In [152]:
#We can call a list in while loop. Let's see an example :
my_list=["a", "b", "c", "d", "e"]

a = 0

while a < len(my_list):
    print('square of {} is : {}'.format(a, a**2))
    a+=1

square of 0 is : 0
square of 1 is : 1
square of 2 is : 4
square of 3 is : 9
square of 4 is : 16

In [ ]:
answer = 44

question = 'What number am I thinking of?  '
print ("Let's play the guessing game!")

while True:
    guess = int(input(question))

    if guess < answer:
        print('Little higher')
    elif guess > answer:
        print('Little lower')
    else:  # guess == answer
        print('Are you a MINDREADER!!!')
        break

In [155]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [156]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [157]:
i = 1
while i < 6:
  i += 1
  if i == 4:
    break
  print(i)

2
3

In [160]:
i = 2
while i < 7:
  i += 1
  if i == 4:
    break
  print(i)

3

In [161]:
i = 2
while i < 7:
  i += 1
  if i == 4:
    continue
  print(i)

3
5
6
7

In [162]:
i = 0
while i < 7:
  i += 1
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7

In [163]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [180]:
i = 1
while i < 6:
  if i == 3:
break
i += 1

IndentationError: expected an indented block (<ipython-input-180-1d92d8cbbe16>, line 4)

In [169]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
 print(x)

apple
banana
cherry

In [171]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue

  print(x)

apple
cherry

In [172]:
#Use the range function to loop through a code set 6 times.
for x in range(6):
  print(x)

0
1
2
3
4
5

In [173]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break

  print(x)

apple

In [174]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "cherry":
    break

  print(x)

apple
banana

In [175]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "apple":
    continue

  print(x)

banana
cherry

In [188]:
seasons = ['spring', 'summer', 'autumn', 'winter']

for season in seasons :
    print(season)

spring
summer
autumn
winter

In [ ]:
Q: How does for loop and while loop differ in Python and when do you choose to use them?
A: For loop is generally used to iterate through the elements of various collection types 
    such as list, tuple, set and dictionary.

While loop is the actual looping feature that is used in any other programming language. 
This is how Python differs in handling loops from the other programming languages.

- Interview Q&A

In [190]:
iterable = [1, 2, 3, 4]

for n in [1,2,3,4]:
    square = n**2
    print(n,'squared is',square)
print('The for loop is complete!')

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
The for loop is complete!

In [191]:
#Write a program that prints square of each number of the iterable list below each on separate lines.

Note: Use for loop with power (**) or multiplying (*) syntaxes.
iterable = [1, 2, 3, 4]

for n in [1,2,3,4]:
    square = n**2
    print(square)

1
4
9
16

In [ ]:
Working with the Iterators
Let us explain the term iteration a little more.

Iterable object can be anything for which items are received one by one, forward only. 
In Python, the process of recurrent execution of a block of code is called an iteration.

We can basically classify iterations as two headings :

If the number of repetitions is predetermined, it is called definite iteration.

The repetition structure that makes the code block run as long as the predetermined 
condition generates True is called indefinite iteration.

For example; string, list, tuple, dictionary or set are the iterable types of data.

Let's use a string variable as an iterator in for loop :

In [192]:
course = 'clarusway'

for i in course :
    print(i)

c
l
a
r
u
s
w
a
y

In [ ]:
Q: What are Python iterators?
A: Iterators in Python are array-like objects which allow moving on the next element.
    We use them in traversing a loop, for example, in a for loop.

In [ ]:
In order to get the output below, drag and drop the correct syntaxes :

Apple
Banana
Orange

In [193]:
fruits = ('Apple' , 'Banana' , 'Orange' )
for i in  fruits  : 
    print(i)

Apple
Banana
Orange

In [ ]:
times = int(input("How many times should I say 'I love you'"))

for i in range(times):
    print('I love you')

In [ ]:
#Now, let's write a code that asks the user a number between 1 and 10 and puts that number into the multiplication 
#table.
n = int(input('enter a number between 1-10'))

for i in range(11):
    print('{}x{} = '.format(n, i), n*i)

In [ ]:
Let's get to know the features of range() function in details:

The range() function creates an iterable sequence of numbers. 
And it can be simply converted into an iterable object: list, set, and tuple. For example :

In [196]:
b = list(range(1,11))

print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [197]:
b = list(range(11))

print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = set(range(0, 10))

print(a)

cevap={0,1,2,3,4,5,6,7,8,9}

In [200]:
c = tuple(range(11))

print(c)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
You can keep in mind the formula syntax below for range() function:

The formula syntax is : range(start, stop, step)

Besides, you can use starred expression * before range() function to separate its elements. See these examples :

In [201]:
print(range(5))  # it will not print the numbers in sequence

print(*range(5))  # '*' separates its elements

range(0, 5)
0 1 2 3 4

In [202]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

In [203]:
print(*range(3,25,2))

3 5 7 9 11 13 15 17 19 21 23

In [204]:
#Starred expression * can separate other iterable objects. For example, you can separate a string:
print(*('separate'))
print(*range(10,0,-2))

s e p a r a t e
10 8 6 4 2

In [208]:
print(*range(10,0,-4))

10 6 2

In [209]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers):
    print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [210]:
fruits = ['apple','banana','orange','grapes','cherry']
numbers = [1, 2, 3, 4, 5]
for x, y in zip(fruits, numbers):
    print(x, ':', y)

apple : 1
banana : 2
orange : 3
grapes : 4
cherry : 5

In [ ]:
Nested 'for' Loop
As a programmer, you may sometimes need to interact with a single element of an iterable data 
and all other elements simultaneously, that is, your code block in a loop can also contain a loop. 
Yes, we're talking about nested loops.

In Python, you can easily place one loop inside another one. 
First outer loop then inner one runs. You'll see it in the following example :

In [211]:
who = ['I am ', 'You are ']
mood = ['happy', 'confident']
for i in who:
    for ii in mood:
        print(i + ii)

I am happy
I am confident
You are happy
You are confident

In [212]:
who = ['I am ', 'You are ']
mood = ['hopeless', 'crazy']
for i in who:
    for ii in mood:
        print(i + ii)

I am hopeless
I am crazy
You are hopeless
You are crazy

In [213]:
a = 3
while a**2 < 299:
    print('I will stop smoking')
    a += 3

I will stop smoking
I will stop smoking
I will stop smoking
I will stop smoking
I will stop smoking

In [214]:
total = 149
country = "FR"

if country == "FR":
    if total <= 50:
        print("Shipping Cost is  30")
    elif total <= 100:
        print("Shipping Cost is 15")
    elif total <= 150:
        print("Shipping Costs 10")
    else:
        print("Free Shipping")
if country == "DE": 
    if total <= 50:
        print("Shipping Cost is  25")
    else:
        print("Free Shipping")

Shipping Costs 10

In [ ]:
#Which of the following/followings are true? (Write the number/numbers in order and separate multiple answers 
with a comma)

1) The for loop only works with iterable objects.
2) A for loop in range(1, 5) will make 5 iteration.
3) In the nested loop the inner loop is executed first.
4) Nested loops work with any type of outer and inner loops.

cevap:1,4

In [ ]:
Tom, a 13-year-old boy, wants to play with PlayStation-4. Since he couldn't afford it, 
he started to save money to reach the price of PS4 (variable ps4_price). 
Let's write a program to tell him how much time left before he can play with PS4. 
So write a simple code that gets the amount of money Tom saved and prints one of the 
three options below according to saved_amount :

If saved_amount is less than or equal to ps4_price/2 then print : "You must save more, keep saving!"
If saved_amount is greater than ps4_price/2 then print : "You saved more than half, keep saving!"
If saved_amount is greater than ps4_price then print : "Yippee! You can buy your PS4"
Note: Variable ps4_price is created for you. You can use it in your code without defining it.

For example:

Input	Result
99
Please enter your saved amount: 99
You must save more, keep saving!


Answer:



saved_amount = int(input('Please enter your saved amount: '))
if saved_amount <= ps4_price/2:
    print('You must save more, keep saving!')
elif saved_amount > ps4_price/2 and saved_amount < ps4_price:
    print('You saved more than half, keep saving!')
else:
    print('Yippee! You can buy your PS4')

In [ ]:
saved_amount = int(input('99 '))
if saved_amount <= ps4_price/2:
    print('You must save more, keep saving!')
elif saved_amount > ps4_price/2 and saved_amount < ps4_price:
    print('You saved more than half, keep saving!')
else:
    print('Yippee! You can buy your PS4')

In [ ]:
Mrs Brown is a Math teacher. She wants to write a program that gets the numeric grades of her students,
assigns them to variable math_mark and prints them as letter-based grades defined below:

85-100  A (Excellent)
70-84  B (Good)
60-69  C (Medium)
45-59  D (Not Bad)
0-44  F (Failed)

Write your program using if, elif and else statements.

For example:

Input	Result
40
Please enter the mark: 40
F (Failed)

math_mark = int(input('Please enter the mark: '))

if math_mark >= 85:
    print('A (Excellent)')
elif math_mark < 85 and math_mark >= 70:
    print('B (Good)')
elif math_mark < 70 and math_mark >= 60:
    print('C (Medium)')
elif math_mark < 60 and math_mark >= 45:
    print('D (Not Bad)')
else:
    print('F (Failed)')

In [218]:
math_mark = int(input('Please enter the mark:40 '))

if math_mark >= 85:
    print('A (Excellent)')
elif math_mark < 85 and math_mark >= 70:
    print('B (Good)')
elif math_mark < 70 and math_mark >= 60:
    print('C (Medium)')
elif math_mark < 60 and math_mark >= 45:
    print('D (Not Bad)')
else:
    print('F (Failed)')

KeyboardInterrupt: Interrupted by user

In [ ]:
Let us go through the loop control statements briefly.

Iterator and Generator
Iterator is an object which allows a programmer to traverse through all the elements of a collection, 
regardless of its specific implementation. In Python, an iterator object implements two methods, iter() and next().

String, List or Tuple objects can be used to create an Iterator.

list = [1,2,3,4]
it = iter(list) # this builds an iterator object
print (next(it)) #prints next available element in iterator
#Iterator object can be traversed using regular for statement
for x in it:
   print (x, end=" ")
#or using next() function
while True:
   try:
      print (next(it))
   except StopIteration:
      sys.exit()

In [ ]:
A generator is a function that produces or yields a sequence of values using yield method.

When a generator function is called, it returns a generator object without even beginning execution of the function.
When the next() method is called for the first time, the function starts executing 
until it reaches the yield statement, which returns the yielded value.
The yield keeps track i.e. remembers the last execution and the second next() call continues from previous value.

The following example defines a generator, which generates an iterator for all the Fibonacci numbers.

import sys
def fibonacci(n): #generator function
   a, b, counter = 0, 1, 0
   while True:
      if (counter > n): 
         return
      yield a
      a, b = b, a + b
      counter += 1
f = fibonacci(5) #f is iterator object

while True:
   try:
      print (next(f), end=" ")
   except StopIteration:
      sys.exit()

In [219]:
squares = [d**2 for d in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [220]:
fibonacci_numbers = [1,1]
for n in range(2,15):
    fibonacci_n = fibonacci_numbers[n-1] + fibonacci_numbers[n-2]
    fibonacci_numbers.append(fibonacci_n)
    print(fibonacci_numbers)

[1, 1, 2]
[1, 1, 2, 3]
[1, 1, 2, 3, 5]
[1, 1, 2, 3, 5, 8]
[1, 1, 2, 3, 5, 8, 13]
[1, 1, 2, 3, 5, 8, 13, 21]
[1, 1, 2, 3, 5, 8, 13, 21, 34]
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [ ]:
The cmp() is part of the python standard library which compares two integers. 
The result of comparison is -1 if the first integer is smaller than second
and 1 if the first integer is greater than the second. If both are equal the result of cmp() is zero.

Below example illustrates different scenario showing the use of cmp() method.

In [1]:
def cmp(x, y):
   return (x > y) - (x < y)
#x>y
x = 5
y = 3
print("The cmp value for x>y is : ",cmp(x, y),"\n")
#x<y
x = 7
y = 9
print("The cmp value for x<y is : ",cmp(x, y),"\n")
#x=y
x = 13
y = 13
print("The cmp value for x=y is : ",cmp(x, y))
#odd and even
k = 16
if cmp(0, k % 2):
   print("\n","The given number",k,"is odd number ")
else:
   print("\n","The given number",k,"is even number")
k= 31
if cmp(0, k % 2):
   print("\n","The given number",k,"is odd number")
else:
   print("\n","The given number",k,"is even number")

The cmp value for x>y is :  1

The cmp value for x<y is :  -1

The cmp value for x=y is :  0

 The given number 16 is even number

 The given number 31 is odd number

In [ ]:
What is the default value of encoding in encode()? Explanation: The default value of encoding is utf-8.

In [2]:
print(0xA + 0xB + 0xC)

33

In [ ]:
What is the return type of function id? Explanation: Execute help(id) to find out details in python shell.
id returns a integer value that is unique. 6.

In [ ]:
To check whether string s1 contains s2, use

 s1.__contains__(s2)

In [ ]:
The atoi() function converts a character string to an integer value.
The input string is a sequence of characters that can be interpreted as a numeric value of the specified 
return type.answer-ord

In [ ]:
Which of the following is equivalent to random.randrange(3) ?
random.choice(range(0, 3))

In [ ]:
random.randint(4)

In [ ]:
random.randint(3, 6) 

Answer:3 + random.randrange(4)
    
    The explanation: random.randint(3, 6) can return any one of 3, 4, 5 and 6.

In [ ]:
Which of the following will never be displayed on executing print(random.choice({0: 1, 2: 3}))?
Correct answer is (a) 0

To explain I would say: It will not print 0 but dict[0] i.e. 1 may be printed.

In [ ]:
The islower() method returns True if all characters in the string are lowercase, otherwise, returns False. Syntax :

In [ ]:
Which of the following environment variable for Python is an alternative module search path ?
PYTHONHOME  It is an alternative module search path. It is usually embedded in the PYTHONSTARTUP or PYTHONPATH 
directories to make switching module libraries easy.

In [ ]:
Which of the following function convert an object to a string in python ?
str(x)

In [ ]:
Function

Description

int(x [,base])

Converts x to an integer. base specifies the base if x is a string.

long(x [,base] )

Converts x to a long integer. base specifies the base if x is a string.

float(x)

Converts x to a floating-point number.

complex(real [,imag])

Creates a complex number.

str(x)

Converts object x to a string representation.

repr(x)

Converts object x to an expression string.

eval(str)

Evaluates a string and returns an object.

tuple(s)

Converts s to a tuple.

list(s)

Converts s to a list.

set(s)

Converts s to a set.

dict(d)

Creates a dictionary. d must be a sequence of (key,value) tuples.

frozenset(s)

Converts s to a frozen set.

chr(x)

Converts an integer to a character.

unichr(x)

Converts an integer to a Unicode character.

ord(x)

Converts a single character to its integer value.

hex(x)

Converts an integer to a hexadecimal string.

oct(x)

Converts an integer to an octal string.

In [ ]:
1. Which is the correct operator for power(xy)? Explanation: In python, power operator is x**y i.e. 2**3=8.

In [ ]:
Is Python case sensitive when dealing with identifiers ?
Python is a case-sensitive language. 
This means, Variable and variable are not the same. Always give the identifiers a name that makes sense.

In [ ]:
Which of the following is an invalid variable ?

Answer: c Explanation: Variable names should not start with a number
        1st_string

In [ ]:
Which function overloads the + operator ?

__add__()

In [ ]:
Which of the following cannot be returned by random.randrange(4) ?# 0, 2.3, 3, none
Only integers can be returned.Others not like 2.3

In [ ]:
What does random.shuffle(x) do when x = [1, 2, 3] ?

Correct choice is (c) shuffle the elements of the list in-place

For explanation: The elements of the list passed to it are shuffled in-place.

In [ ]:
Which type of elements are accepted by random.shuffle() ?
list only

Which type of elements are accepted by random. shuffle()? Explanation:
Strings and tuples are immutable and an integer has no len().

In [7]:
print("xyyzxyzxzxyy".count('xyy', 2, 11))

0

In [8]:
print('abcdefcdghcd'.split('cd'))

['ab', 'ef', 'gh', '']

In [ ]:
num=0
while num<=13:
    print(f'{num}x7={num*7}')
    num+=1

In [ ]:
# Longest word

# Reading sentence from user

sentence = input("Enter sentence: ")

# Finding longest word
longest = max(sentence.split(), key=len)

# Displaying longest word
print("Longest word is: ", longest)
print("And its length is: ", len(longest))

In [ ]:
longest_length = len(list[0]) 
 
for word in list: 
	if len(word) > longest_length: 
		longest_length = len(word) 
 
return longest_length