None Type

In [1]:
cat = None
dog = None

In [7]:
print(dog,cat)

None None

In [8]:
x,y,z=5,5,5

In [9]:
print(x)

1

In [11]:
print(y)

2

In [14]:
id(y)

4437444992

In [15]:
a=5
b=7
c=12

In [16]:
print(str)

<class 'str'>

In [20]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [22]:
a*5

25

In [23]:
b*5

35

In [24]:
c*5

60

In [27]:
d=
e=apple
f=cucumber

NameError: name 'banana' is not defined

STRUCTURED QUERY LANGUAGE

In [1]:
# SQL LANGUAGE ELEMENTS
#select first name from employees
#distinct
#where - <  > =
#LIMIT 5

What is an aggregate function?
In this section, we will introduce you to aggregate functions. Aggregate functions are functions that take a collection of values as input and return a single value. SQL has five built-in aggregate functions:

COUNT (Count)
MIN (Minimum)
MAX (Maximum)
SUM (Total)
AVG (Average)
aggregate function

In [2]:
#NULL means no data and is a special value. It shows us that a piece of information is unknown or missing or not applicable. For instance, let's assume that we have a song database and we don't know the writers of some of them. We don't have that information. So, to store these unknown songwriters in a database table, we must use NULL. If a table has NULL value, then it will be displayed as NULL.

In [3]:
#ðŸ’¡Tips:
NULL value represents the unknown value or missing value or not applicable.
NULL is not equal to zero or empty string.
NULL is not equal to itself.
It's important to understand what nulls mean and to know how to work with them. They are often ignored in our aggregation functions.

Alright, let's start with COUNT function.

Q: What is an aggregate function?
A: An aggregate function performs operations on a collection of values to return a single scalar value. Aggregate functions are often used with the GROUP BY and HAVING clauses of the SELECT statement.

- Interview Q&A

SyntaxError: invalid syntax (<ipython-input-3-0895e4786cd1>, line 2)

In [4]:
#We use COUNT function to count the numbers of records (a.k.a row) in a table. Here is the syntax of the COUNT function:

SELECT COUNT(column_name)
FROM table_name;
Use COUNT keyword immediately after SELECT keyword. Then specify the column on which you want to operate. 
Suppose that we want to count how many students enrolled in the courses.

SyntaxError: invalid syntax (<ipython-input-4-3b150a01b07f>, line 3)

In [5]:
#TABLE OF CONTEST
#ARITHMETIC OPERATIONS
#ESCAPE SEQUENCES

In [11]:
#Problem
X=60  #X--> 6
Y=6   #Y--> 60
Z=10   #Z-->6

#The solution
z=y #line 2
y=x #line 3
x=z #line 1

print(f'x: {x} y: {y}  z: {z}')

assert x==6
assert y==60
assert z==6

NameError: name 'y' is not defined

In [15]:
X=60  
Y=6   
Z=10  


z=y 
y=x 
x=z 

print(f'x: {x} y: {y}  z: {z}')

assert x==6
assert y==60
assert z==6

NameError: name 'y' is not defined

BOOLEAN EXPRESSIONS

In [16]:
#KEYWORDS: and or not
uno=1
escriber=print
escriber(uno)

1

In [17]:
True and True

True

In [18]:
True and True and True

True

In [20]:
True and True and True and False

False

In [21]:
#if <something that will evaluate True/False>:

NameError: name 'orange' is not defined

In [23]:
if True:
    print("Yay!")

Yay!

In [27]:
if 1:
print("Yay!")

IndentationError: expected an indented block (<ipython-input-27-dffe52090c98>, line 2)

In [28]:
if 0:
print("Yay!")

IndentationError: expected an indented block (<ipython-input-28-d3df9f6fbdfd>, line 2)

In [29]:
x=1
y=2
z=3
if x and y and z:
    print(x+y+z)

6

In [30]:
x=none
y=2
z=3
if x and y and z:
    print(x+y+z)

NameError: name 'none' is not defined

In [31]:
if x and y:   #assert that both x and y are True
    x/y
    numerator=555
    denominator=0
#evaluate this then this part
    if denominator and numerator/denominator:
        print(Yay)

In [32]:
if x and y:   #assert that both x and y are True
    x/y
    numerator=555
    denominator=0

In [34]:
denominator=5
if denominator and numerator/denominator:
    print('Yay')

Yay

OR EXPRESSION

In [35]:
True or False

True

In [36]:
numerator=555
denominator=0
# eval this then this part
if denominator and numerator/denominator:
    print('Yay')

Not Expression(negates a boolean)

In [37]:
True

True

In [38]:
not True

False

In [39]:
False

False

In [40]:
not False

True

In [41]:
numerator=555
denominator=0
not (numerator or denominator)

False

In [42]:
#PRIORITY ORDER: not->[and ->or]
1+2*3

7

In [44]:
bool_var=False and not True
bool_var

False

In [46]:
bool_var=False or not not True
bool_var

True

USE PARENTHESIS IF YOU HAVE ANY DOUBT

In [47]:
False or (True and True)

True

In [48]:
#Binary version
bin #binary
bin(8) #count of 2^3> <count of 2^1> <count 2^0>

'0b1000'

In [49]:
bin(6)

'0b110'

In [50]:
bin(7)

'0b111'

In [51]:
bin(7&6) # and But it operates seperately on every element(every bit)
#1 1 1 this is 7
#1 1 0 this is 6
#===============
#1 1 0

'0b110'

In [52]:
# or l  
#not ~
#xor ^  (exclusive or; one or the other but not both)

In [53]:
s='something'
s[2:4]

'me'

In [54]:
s[:-1]

'somethin'

In [55]:
s='0123456789'
print(s, type(s))

0123456789 <class 'str'>

In [56]:
#syntax for a slice:
#[<start> : <stop> : <stride>]
#[start=0, stop=end, stride]
#using defaults:

In [57]:
s[::]

'0123456789'

In [58]:
s[:]

'0123456789'

In [60]:
s[0]

'0'

In [61]:
s[1]

'1'

In [62]:
s[:2]

'01'

In [63]:
s[:8]

'01234567'

In [65]:
s[-3:]

'789'

In [66]:
s[:-3]

'0123456'

In [67]:
s[2:7]

'23456'

In [68]:
s[-2:7]

''

In [69]:
s[2::7] #'0123456789'

'29'

In [70]:
s[2:5:7]

'2'

In [71]:
s[::4]+s[::3]

'0480369'

In [72]:
s[::-1]

'9876543210'

In [73]:
s[:-1]

'012345678'

In [74]:
s[:-2]

'01234567'

In [75]:
s[:-4]

'012345'

In [76]:
s[:-7]

'012'

In [77]:
slice

slice

In [79]:
sy=slice(None, None, None)   #null [::]
sy

slice(None, None, None)

In [84]:
start_at = 2
stop_just_before = 8
stride_length = 2
data_slice = slice(start_at, stop_just_before, stride_length) #null=[2:8:2]
print(data_slice)

slice(2, 8, 2)

In [85]:
start_at = 2
stop_just_before = 8
stride_length = 2
data_slice = slice(start_at, stop_just_before, stride_length)

In [86]:
reverser=slice(None, None, -1)
c[reverser]

NameError: name 'c' is not defined

String Formatting with Arithmetic Syntax

In [87]:
#phyton 2.x (2.7 code is coming)
#print <come stuff> 'statement'
#phyton 3.x
print() # a function

In [88]:
#- + * against a string

str_one= 'upper'
str_two= 'case'
str_comb= str_one

In [89]:
s='upper'
print(*s)

u p p e r

In [90]:
print(*s, sep='|||')

u|||p|||p|||e|||r

In [94]:
1st=[1,2,3,4,5,6]
print(1st)

SyntaxError: invalid syntax (<ipython-input-94-3ee89140d19d>, line 1)

In [95]:
a='aye'
b='bee'
c='sea'
print(a+b+c)

ayebeesea

#Searching a String
To search patterns in a string there are two useful methods called startswith() and endswith() that search for the particular pattern in the immediate beginning or end of a string and return True if the expression is found. Here are some simple examples. Examine the basic syntax of those methods carefully.

In [1]:
text = 'www.clarusway.com'
print(text.endswith('.com'))
print(text.startswith('http:'))

True
False

In [2]:
text = 'www.clarusway.com'
print(text.endswith('om'))
print(text.startswith('w'))

True
True

In [3]:
#These methods have optional arguments start and end. We can specify the search by adding arguments so that the area of search is delimited by start and end arguments.

In [4]:
#The formula syntaxes are :

#string.startswith(prefix[, start[, end]])
#string.endswith(suffix[, start[, end]])

In [5]:
email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@", 9))
print(email.endswith("-", 10, 32))

True
True

In [6]:
phrase = "myemailaddress@clarusway.com"

print(len(phrase))
print(phrase.startswith("@", 14))
print(phrase.endswith(".", 15, 24))

28
True
False

In [7]:
sentence = "I live and work in New Jersey"

print(sentence.upper())  

print(sentence.lower())

print(sentence.swapcase())

print(sentence)  # note that, source text is unchanged

I LIVE AND WORK IN NEW JERSEY
i live and work in new jersey
i LIVE AND WORK IN nEW jERSEY
I live and work in New Jersey

In [8]:
sentence = "Success is measured by effort"

print(sentence.upper())  

print(sentence.lower())

print(sentence.swapcase())

print(sentence)  # note that, source text is unchanged

SUCCESS IS MEASURED BY EFFORT
success is measured by effort
sUCCESS IS MEASURED BY EFFORT
Success is measured by effort

In [9]:
sentence = "I live and work in Virginia"
title_sentence = sentence.title() 
print(title_sentence)  

changed_sentence = sentence.replace("i", "+")
print(changed_sentence)  

print(sentence)  # note that, again source text is unchanged

I Live And Work In Virginia
I l+ve and work +n V+rg+n+a
I live and work in Virginia

In [10]:
sentence = "I live and work in Virginia"
swap_case = sentence.swapcase()
print(swap_case)
print(swap_case.capitalize())  # changes 'i' to uppercase and
# the rest to lowercase

i LIVE AND WORK IN vIRGINIA
I live and work in virginia

In [11]:
print("Actions speaks louder than words".upper().swapcase().capitalize()), will this code work? If yes, what the output will be? Describe how?
A: Yes it works. The syntax is : string.method(). Changing the string using these methods returns string type again. The output is :
Actions speaks louder than words

Follow the additional examples below :

string.upper() # returns string type,
string.upper().lower() # also returns string type,
string.upper().lower().title() # returns string type again.

SyntaxError: invalid syntax (<ipython-input-11-7ceb0ee75366>, line 2)

In [12]:
#The formula syntax is : string.method()

str.strip() : removes all spaces (or specified characters) from both sides.

str.rstrip() : removes spaces (or specified characters) from the right side.

str.lstrip() : removes spaces (or specified characters) from the left side.

Now see the examples about how we implement these methods? :

SyntaxError: invalid syntax (<ipython-input-12-c08f5c436bac>, line 3)

In [13]:
space_string = "     listen first      "
print(space_string.strip())  # removes all spaces from both sides

listen first

In [14]:
source_string = "interoperability"
print(source_string.strip("yi"))  
# removes trailing "y" or "i" or "yi" or "iy" from both sides

nteroperabilit

In [15]:
print(source_string.strip("ni"))

teroperability

In [17]:
print(source_string.rstrip("ab"))

interoperability

In [18]:
source_string = "interoperability"
print(source_string.lstrip("in"))  
# removes "i" or "n" or "in" or "ni" from the left side

teroperability

In [19]:
source_string = "interoperability"
print(source_string.rstrip("ty"))  
# removes "i" or "n" or "in" or "ni" from the left side

interoperabili

In [20]:
x = 12
y = x + 21
x = 2
print(y//x)

16

In [21]:
True and True

True

In [22]:
False and False

False

In [23]:
False and True

False

In [24]:
 True and False

False

In [29]:
#Which of the following value is not considered False?



{}

{}

In [26]:
[0]

[0]

In [27]:
0j

0j

In [28]:
None

In [30]:
print(12+21)

33

In [35]:
print("2000", int("32"))

2000 32

In [38]:
print( 1988 + str('32'))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
print("1" + str("1"))

11

In [44]:
print( 1988 + int(32))

2020

In [52]:
number = "32"
print(1988 + int(number))

TypeError: 'int' object is not callable

In [53]:
# In print() function 
\n
  syntax is used for a new line and if we want to specify the end of the string that we print, we have to use keyword argument 
end=
 .

SyntaxError: unexpected character after line continuation character (<ipython-input-53-c65678952590>, line 2)

In [55]:
x = False
y = not x

#Enter the result of evaluating the expression:

not (x and y)

True

In [56]:
print("{4} {9} {1} {7} {5} {0} {6} {8} {3} {2}".format('while', 'dream', 'work.', 'and', 'Some', 'success', 'others', 'of', 'wake up', 'people'))

Some people dream of success while others wake up and work.

In [57]:
"I will find a job." using .format method.

SyntaxError: invalid syntax (<ipython-input-57-b4e3f9af9448>, line 1)

In [59]:
# ('job.', 'a', 'will', 'I', 'find')
# print("{0} {1}".format('first', 'second'))

print("{0} {1} {2} {3} {4}".format('I','will', 'find', 'a', 'job.'))

I will find a job.

In [1]:
#section_3_5 = "python data types and useful operations"

#print(str.title("this is a title"))

#print(not None or 1)
# print("{3} {2} {4} {1} {0}".format('job.', 'a', 'will', 'I', 'find'))
# section_3_5 = "python data types and useful operations"
#print(str.title(section_3_5))

In [2]:
# Using the all following items, set a correct boolean expression that returns []. Use the print() function to display the result.


{0}
or
and
[]
False

SyntaxError: invalid syntax (<ipython-input-2-2938ca31de2a>, line 5)

In [3]:
print(float("140" * int(input("Enter a number:" ))))
Enter a number: 2

SyntaxError: invalid syntax (<ipython-input-3-921a580b24a7>, line 2)

In [4]:
print(int("5" + "1"))
print(str("5" + "1"))
print("5" + "1")

51
51
51

In [5]:
# In order to print the following text (sentence) using f"string" method with double quotes.
#sentence = "The less you sleep and eat, the better your life will be."
# Note : Use the given four variables (var1, var2, var3, var4) in the f"string"  method.
#nput	Output
age = 40
text = f"I am {age} years old."
print(text)
I am 40 years old.

SyntaxError: invalid syntax (<ipython-input-5-e68ebdd4cb69>, line 8)

In [6]:
age = 40
text = f"I am {age} years old."
print(text)

I am 40 years old.

In [16]:
#Use the given four variables (var1, var2, var3, var4) in the f"string"  method.

sentence = "The less you sleep and eat, the better your life will be."
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"
print(f"string(var1, var2, var3, var4)

SyntaxError: EOL while scanning string literal (<ipython-input-16-e5cdb367f4eb>, line 8)

In [8]:
f"The better sleep and eat,the better your life will be."

'The better sleep and eat,the better your life will be.'

In [9]:
#Using the all following items, set a correct boolean expression that returns []. 
Use the print() function to display the result.

{0}
or
and
[]
False
#print({0} and False or []) _____>

SyntaxError: invalid syntax (<ipython-input-9-764dd8516184>, line 2)

In [10]:
#In order to print the following text (sentence) using f"string" method with double quotes.

#sentence = "The less you sleep and eat, the better your life will be."
#Note : Use the given four variables (var1, var2, var3, var4) in the f"string"  method.
age = 40
text = f"I am {age} years old."
print(text)

I am 40 years old.

In [11]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"

sentence = f"The less you {var1} and {var2}, the {var3} your {var4} will be."
print(sentence)

The less you sleep and eat, the better your life will be.

In [12]:
# Type a Python code to get the output of â€œI live in Sarajevo.â€
, using .capitalize() and f-string methods with the city variable below.

#city = "SARAJEVO"
#Note that; use double quotes within f-string method.

('using',
 '.capitalize()',
 'and',
 'f-string',
 'methods',
 'with',
 'the',
 'city',
 'variable',
 'below.')

In [13]:
month = "february"
text = f"{month.title()}"
print(text)

February

In [14]:
city = "SARAJEVO"

sentence = f"I live in {city.capitalize()}."

print(sentence)

I live in Sarajevo.

In [15]:
{0}
or
and
[]
False

print({0} and False or [])

SyntaxError: invalid syntax (<ipython-input-15-b546000c5dbc>, line 2)

In [16]:
print({0} and False or [])

[]

In [17]:
print(False or [])

[]

In [18]:
print({0} or [])

{0}

In [19]:
print({0} and False)

False

In [20]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"

sentence = f"The less you {var1} and {var2}, the {var3} your {var4} will be."
print(sentence)

The less you sleep and eat, the better your life will be.

Var1="Success"
Var2= "measured"
Var3= "effort"

sentence = f"{var1} is {var2} by {var3}."
print(sentence)

In [25]:
Var1="Success"
Var2= "measured"
Var3= "effort"

sentence = f"{var1} is {var2} by {var3}."
print(sentence)

sleep is eat by better.

In [28]:
#Sentence="Professional leaders are determined and bring achievement and success."
var1="determine"
var2="bring"
var3="achivement"
var4="success"
sentence=f"Professional leaders are {var1} and {var2} {var3} and {var4}.""
print(sentence)

SyntaxError: EOL while scanning string literal (<ipython-input-28-dc44f56900de>, line 6)

In [29]:
print("a"+"bc")

abc

In [30]:
#Python uses // as the floor division operator and % as the modulo operator. 
#If the numerator is N and the denominator D, then this equation N = D * ( N // D) + (N % D) is always satisfied. 
#Use floor division operator // or the floor() function of the math module to get the floor division of two integers.

In [32]:
22 % 3

1

In [33]:
#left-to-right
#Operators with the same precedence are evaluated from left-to-right.

In [34]:
3*1**3

3

In [35]:
#â€œAddition and Subtractionâ€ are at the same precedence level. 
#Similarly, â€œMultiplication and Divisionâ€ are at the same precedence level.
#Parentheses have the highest precedence and can be used to force an expression to evaluate in the order you want.
#Mathematical operations can be performed on a string. 
#Explanation: You can't perform mathematical operation on string even if the string is in the form: 
#'1234â€¦'. ... Explanation: â€œAddition and Subtractionâ€ are at the same precedence level. 
#Similarly, â€œMultiplication and Divisionâ€ are at the same precedence level

In [36]:
print(0xA + 0xB + 0xC)

33

In [37]:
#0xA and 0xB and 0xC are hexadecimal integer literals representing the decimal values 10, 11 and 12 respectively. 
#There sum is 33.

#The correct answer is:33
print(0xA + 0xB + 0xC)

33

In [38]:
#What will be the output of the following Python statement?

print("abcd"[2:])

cd

In [39]:
#What will be the output of the following Python statement?

str1 = "hello"
str2 = ","
str3 = "world"
print(str1[-1:])
str1 = "world"

o

In [40]:
# + is used to concatenate and * is used to multiply strings.
# += is used to concatenate and assign in place to a stirng.

#The correct answer is: -

In [41]:
#What will be the output of the following Python code?

print(r"\nhello")
#Note : âš  You have to do research on the usage of the raw strings with a prefix r.

\nhello

In [42]:
# What will be the output of the following Python code?

print("new" "line")

newline

In [43]:
# What will be the output of the following Python code?

print("new" "line" "end" 3)

SyntaxError: invalid syntax (<ipython-input-43-a02dabcaf55b>, line 3)

In [44]:
print("new" "line" "end" 3)
# String literals separated by whitespace are allowed. They are concatenated.

SyntaxError: invalid syntax (<ipython-input-44-693762d2e4e6>, line 1)

In [45]:
#What will be the output of the following Python code?

print("new" "line" "end", 3)

newlineend 3

In [46]:
#What will be the output of the following Python code?

str1 = "clarsuway"
print(str1[::-1])

yawusralc

In [47]:
#What will be the output of the following Python statement?

example = "snow world"
print("%s" % example[4:7])

 wo

In [48]:
#What will be the output of the following Python statement?

print("DA", sep="-",end = ' ')
print("CA", end = '')
print("BA", sep="-", end = ' ')
print("AA", end = '')

DA CABA AA

In [49]:
#What will be the output of the following Python statement?

example = "snow world"
example[3] = 's'
print(example)

TypeError: 'str' object does not support item assignment

In [50]:
#What will be the output of the following Python statement?

print(max("joseph"))

s

In [51]:
#Max returns the character with the highest ascii value.

#The correct answer is:s

In [52]:
#What will be the output of the following Python statement?

example = "hello"
print(example.count("l"))

2

In [53]:
#"l" occurs twice in "hello". .count() method counts the char in a string.

In [54]:
#What will be the output of the following Python statement?

example = "helen"
print(example.find("e"))

1

In [55]:
#Returns the first index of the element being searched. 

#The correct answer is:1

In [56]:
#What will be the output of the following Python statement?

example="helloworld"
print(example[::-1].startswith("eh"))

False

In [57]:
print("hello\example\test.txt")

hello\example	est.txt

In [58]:
print("hello\\example\\test.txt")

hello\example\test.txt

In [59]:
#"\" is used to indicate that the next \ is not an escape sequence.

#The correct answer is:
#print("hello\\example\\test.txt")

In [60]:
#What will be the output of the following Python statement?

s = "\t\tWorld\n"
print(s.strip())

World

In [61]:
#"strip()" strips the spaces and extra escape chars.

#The correct answer is: World

In [62]:
#What will be the output of the following Python statement?

print("hello" +"1+2+"3")

SyntaxError: invalid syntax (<ipython-input-62-a470f8124364>, line 3)

In [63]:
#"str" and "int" cannot be concatenated. quotes should be used correctly.

#The correct answer is:Error

In [64]:
What is the output of this code?

print(int("5" + "1"))
print(str("5" + "1"))
print("5" + "1")

Object `code` not found.
51
51
51

In [9]:
text = ("Clarusway, Clarusway, Clarusway,
            \nClarusway, Clarusway, Clarusway,
                \nClarusway, Clarusway, Clarusway")

print(text)

SyntaxError: EOL while scanning string literal (<ipython-input-9-7ef379b04a49>, line 1)

In [68]:
#Arrange the following text variable using \n and \t escape sequences to print the output as follows :

Clarusway, Clarusway, Clarusway,\
\nClarusway, Clarusway, Clarusway,
\\ntClarusway, Clarusway, Clarusway\n

SyntaxError: unexpected character after line continuation character (<ipython-input-68-15ae83f5a1bc>, line 4)

In [69]:
print({0}and False or [])

[]

In [70]:
word = 'clarusway'
n = 3
front = 
back =
print(front + back)

SyntaxError: invalid syntax (<ipython-input-70-fd997d046d7f>, line 3)

In [76]:
word = 'clarusway'
front_back=word
print(word)

clarusway

In [77]:
#print("{3} {2} {4} {1} {0}".format('job.', 'a', 'will', 'I', 'find'))

In [78]:
#>>> print('hello', 'world', sep=None) hello world
# >>> print('hello', 'world', sep=' ') hello world
#>>> print('hello', 'world') hello world

In [79]:
# >>> print('hello', 'world', sep='') 
helloworld
#>>> print('hello', 'world', sep='\n')
hello
world
# >>> print('home', 'user', 'documents', sep='/')
home/user/documents
#>>> print('/home', 'user', 'documents', sep='/')
/home/user/documents
#>>> print('', 'home', 'user', 'documents', sep='/')
/home/user/documents

NameError: name 'helloworld' is not defined

In [1]:
print(0.1 + 0.2 == 0.3)

False

In [80]:
# Itâ€™s safer to just unpack the sequence with the star operator (*) and let print() handle type casting:

#>>> print(*['jdoe is', 42, 'years old'])
jdoe is 42 years old

#One more interesting example could be exporting data to a comma-separated values (CSV) format:
#>>> print(1, 'Python Tricks', 'Dan Bader', sep=',')
1,Python Tricks,Dan Bader

SyntaxError: invalid syntax (<ipython-input-80-9843f16cdbc5>, line 4)

In [81]:
print('Mercury', 'Venus', 'Earth', sep=', ', end=', ')
print('Mars', 'Jupiter', 'Saturn', sep=', ', end=', ')
print('Uranus', 'Neptune', 'Pluto', sep=', ')

Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune, Pluto

In [7]:
print('Printing in a Nutshell', end='\n * ')
print('Calling Print', end='\n * ')
print('Separating Multiple Arguments', end='\n * ')
print('Preventing Line Breaks')

Printing in a Nutshell
 * Calling Print
 * Separating Multiple Arguments
 * Preventing Line Breaks

In [2]:
#In order to print the following text using .format() method, arrange the variable text.

#Hello! I am a new programmer and I love Clarusway.
#Note : Use only given three words ("Hello", "new", "love") in the .format parentheses.

#For example:

#Result
#Hello! I am a new programmer and I love Clarusway.

text = "{}! I am a {} programmer and I {} Clarusway.".format("Hello", "new", "love")
print(text)

Hello! I am a new programmer and I love Clarusway.

#One of the most useful collections in Python is a list. 
In Python, a list is only an ordered collection of valid Python values.

The list type is probably the most commonly used collection type in Python.
In spite of its name, a list is more like an array in some other languages (e.g. JavaScript).

In [3]:
#Creating a List
#A list can be created by enclosing values, separated by commas, in square brackets ðŸ‘‰ðŸ»[].

#Let's create a simple list that includes some country names.

#country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
#That is our first list in this course. Now let's print the list.

#input :

country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

print(country)

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

In [4]:
#What will be the output of the following code?

warning = 'You must quit smoking!'

print(len(list(warning)))

22

In [5]:
#We can add an element into a list using .append() or .insert() methods.

#.append() : Append an object to end of a list. Using only list.append(element) syntax, returns none. If you want to see the new appended list, you have to call or print it. See the example :
#input :

empty_list_1 = []
empty_list_1.append('114')
empty_list_1.append('plastic-free sea')

print(empty_list_1)

['114', 'plastic-free sea']

In [6]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.append('Addis Ababa')

print(city)

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [8]:
title=['kamuran' , 'asude' , 'eymen']
title.append('kubra')
print(title)

['kamuran', 'asude', 'eymen', 'kubra']

In [9]:
#.insert() : Add a new object to list at a speciï¬c index. 
#The syntax looks like list.insert(index, object). See the example :

city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm')

print(city)

['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [10]:
#We can remove the elements in lists using list.remove() method or sort the elements using list.sort() method. 
#Examine the example :

city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove('London')
print(city)  # we have deleted 'London'
print(len(city))

['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
6

In [11]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()  # lists the items in alphabetical order
print(city)

['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']

In [12]:
#Likewise, the length of the list elements can be calculated with the len() function also. 
#Let's calculate the length of 'city' variable we have.

city = ['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']
print(len(city))

6

In [11]:
my_list = [1, 3, 5, 7]
print(my_list * 3)
print(len(my_list))

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]
4

In [14]:
# One of the important operations of the lists is assigning an element to the specific index number.

city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city[1] = 'Melbourne'  # we assign 'Melbourne' to index 1
print(city)

['New York', 'Melbourne', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [15]:
#Introduction
#You know that there are several types of collections for storing data in Python, like list, tuple, dictionary.

#Each item or element in a list, as well as every character in a string, has an index corresponding to their location.
#Using indexes, we can access elements within a sequence. Now, let's see how can we do that?

In [16]:
#Indexing a List
#If we want to access or use the elements of a list, 
#we can do that using index numbers of the list enclosed by square brackets.
#Avoid ! :
#Do not start indexing with 1. 
#The first index of the element of a list is 0. We will never stop remembering that!

In [17]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero, 
# the second element will be 'blue'.

blue

In [12]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

city_list = []
city_list.append(city) # we have created a nested list

print(city_list)
print(len(city_list))

#If you notice that city_list has double square brackets.

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
1

In [19]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0]) # access to first and only element

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [20]:
#city_list[0]' is a list type data. So that, we can still access its elements via indexing. 
#Let's access its second element :

city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2])

Istanbul

In [21]:
#city_list[0][2]' is a string type data. So, we can also access its elements via indexing. 
#Let's access its third element :
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2][3])

a

In [22]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][4][5])

y

In [24]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][3][4])

l

In [26]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][0][5])

o

In [13]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][4][4]) #baslama ilk adim nerden saymaya baslayacagimi gosterir. Ikinci rakam ne kadar ileriye
#gidecegimizi gosterir. Ucuncu rakam verilen degere gore ulke harfleri sayilir.

e

In [27]:
#What will be the output of the following code?

odd_numbers = [[11, 13, 15], 17, 19, 21, 23, 25, 27, 29]

print(odd_numbers[6])

27

In [28]:
#What will be the output of the following code?

fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list[0][2][7])

l

In [29]:
#Slicing a List
#We can access individual elements of a list, as well as part of those items. 
#We use index numbers again for slicing but we do it by typing it a little differently. 
#Look at the example :

numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])  # we get the elements from index=2 to index=5(5 is not included)

[5, 7, 9]

In [30]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[3:6])

[7, 9, 11]

In [31]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[4:9]) #4'ten sonra 5 saga gideceksin

[9, 11, 13, 15, 17]

In [32]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[1:6])

[3, 5, 7, 9, 11]

In [33]:
#You can keep in mind the formula syntax below for slicing a sequence.
#From 'start' to 'stop-1', by 'step'.

#The formula syntax is : sequence[start:stop:step]

#This formula produces a slice of the sequence where start is an index of the first element 
#required (the element is included in the slice) 
#and stop is an index of the end element (the element is not included in the slice), 
#step is an interval between elements to be chosen.

#Now let's apply this formula on a few examples. 
#In this example, we will create a list of numbers from 1 to 10 using 'range()' function and select even ones:

In [34]:
count = list(range(11))
print(count)

print(count[0:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

In [ ]:
Create a list which consists of int numbers from 1 to 10 using range() function. 
# Sort the numbers of the list in descending order and print the result.
8:18
is anyone remember this questions answer

In [35]:
count = list(range(11))
print(count)

print(count[0:11:4])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 4, 8]

In [5]:
count = list(range(1,10))
print(count)

print(count[0:11:3])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 7]

In [37]:
count = list(range(10))
print(count)

print(count[0:10:1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
count = list(range(10))
print(count)

print(count[0:10:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

In [17]:
#Create a list which consists of int numbers from 1 to 10 using range() function. 
#Sort the numbers of the list in descending order and print the result.

numbers = list(range(1, 11))

numbers.sort(reverse = True)

print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [18]:
numbers = list(range(1, 11))

numbers.sort(reverse = True)

print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
#The formula syntax is : range(start, stop[, step])

#Each part of the slice has a default value, so they are optional. 
#If we don't assign a value to the start index, it is considered to be 0; 
#if we don't assign a value to the stop index, it will be the same as the length of the sequence.

#my_list[:]: returns the full copy of the sequence

#my_list[start:] : returns elements from start to the end element

#my_list[:stop] : returns element from the 1st element to stop-1

#my_list[::step] : returns each element with a given step

#Let's do some more examples to grasp it.

In [40]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

print(animals[:])  # all elements of the list

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [41]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[3:])

['wolf', 'rabbit', 'deer', 'giraffe']

In [42]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[2:])

['fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [43]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[5:])

['deer', 'giraffe']

In [44]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[:5])

['elephant', 'bear', 'fox', 'wolf', 'rabbit']

In [45]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[:4])

['elephant', 'bear', 'fox', 'wolf']

In [46]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[:3])

['elephant', 'bear', 'fox']

In [47]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[:7])

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [48]:
#What will be the output of the following code?

even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [49]:
#What is the output of this syntax?

print(len([[12, 34, 56]]))

1

In [50]:
#What is the output of this syntax?

print(len([[12, 34, 56]][0]))

3

In [51]:
#Negative Indexing & Slicing
#Negative indexing is the best and shortest way to reach the elements at the end of the list. 
#The negative indexing works in reverse. We can reach the last element of a list as list_name[-1]. 
#See the example below :

city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])

London

In [52]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-2])

Seoul

In [53]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-3])

Istanbul

In [54]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])

['lobster', 'squid', 'octopus']

In [55]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-4:])

['jellyfish', 'lobster', 'squid', 'octopus']

In [56]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:2])

[]

In [57]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-6:])

['shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']

In [58]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-3])

['swordfish', 'shark', 'whale', 'jellyfish']

In [59]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-4])

['swordfish', 'shark', 'whale']

In [60]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])  # we have produced the reverse of the list

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [61]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2])  # we have produced the reverse of the list

['octopus', 'lobster', 'whale', 'swordfish']

In [62]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-3])  # we have produced the reverse of the list

['octopus', 'jellyfish', 'swordfish']

In [63]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2])

['octopus', 'lobster', 'whale', 'swordfish']

In [64]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

[8, 7, 6, 5]
[]

In [65]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:4:-1])
print(odd_no[5:2:-1])

[8, 7, 6]
[6, 5, 4]

In [66]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[3:7:-1])
print(odd_no[2:6:-1])

[]
[]

In [67]:
#Python : list. A tuple is another collection type that can hold multiple data very similar to the list.

#The most important difference from the list is that the tuple is immutable. 
#Therefore, methods like append() or remove() do not exist in the operations of this type.
#Tuples are commonly used for small collections of values that will not need to change, such as an IP address and port.
#If we have unchanged data, we should choose tuples because it is much faster than lists.

#We used square brackets ðŸ‘‰ðŸ»'[]' to define the lists. In the tuple, normal parentheses ðŸ‘‰ðŸ»'()' are used.

#Q: What is the difference between list and tuple?
A:
LISTs :

Lists are mutable i.e they can be edited.
Lists are slower than tuples.
Syntax: list_1 = [True, â€˜Spaceâ€™, 20]
TUPLEs :
Tuples are immutable (tuples are lists which canâ€™t be edited).
Tuples are faster than list.
Syntax: tup_1 = (True, â€˜Spaceâ€™ , 20)

    A tuple also can be created by enclosing values, separated by commas, in parentheses.

You can compare tuple to a case. When you put the data that you want it to not change and close the lid, you can no longer change this data, modify its size and edit it.

Let's create a simple empty tuple :

SyntaxError: invalid syntax (<ipython-input-67-3e103109dccb>, line 11)

In [68]:
empty_tuple = ()

In [69]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [70]:
#If you want to create a single element tuple, you should use a comma.
try_tuple = ('love')

print(try_tuple)

print(type(try_tuple)) # it's not tuple type.

love
<class 'str'>

In [71]:
#It occurs in only single element tuples and we can fix the problem using comma at the end of the element.

try_tuple = ('love',)

print(try_tuple)

print(type(try_tuple)) # it's a tuple type.

('love',)
<class 'tuple'>

In [72]:
Actually, if your tuple contains more than one element, separating elements with commas will be enough.

Another way to create a tuple is to call the tuple() function. 
You do this when you want to create a tuple from an iterable object: 
that is, a type of object whose elements you can import individually.

The tuple is also iterable like other collections and string types. 
Let's create another tuple using tuple() function. With this function, you can create an empty tuple as well.

Let's examine some examples of creating tuples :

SyntaxError: invalid syntax (<ipython-input-72-677e70b1741e>, line 1)

In [73]:
planets = 'mercury', 'jupiter', 'saturn'

print(planets)
print(type(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>

In [74]:
empty_tuple_1 = tuple()

print(empty_tuple_1)
print(type(empty_tuple_1))

()
<class 'tuple'>

In [75]:
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple)

print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [76]:
# An iterable string can be converted to a tuple :
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

#How can We Use a Tuple ?
If you want, let's take a look at the common features of the list and tuple. 
So you can have an idea of what to do with tuples.

Both lists and tuples are ordered. 
It means that when storing elements to these containers, you can sure that their order will remain the same.
You can also duplicate values or mix different data types in tuples.

In [77]:
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

4

In [78]:
mix_value_tuple = (0, '5','bird', 3.14, True)

print(len(mix_value_tuple))

5

In [80]:
mix_value_tuple = (0, 'bird' ,'love', 3.14, True)

print(len(mix_value_tuple))

5

In [81]:
#As we stated at the beginning, just like lists, tuples support indexing :


even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])   
print(even_no[3])

0
2
4

IndexError: tuple index out of range

#print(even_no[3]) : IndexError: tuple index out of range
And one of the most important differences of tuples from lists is that 'tuple' object does not support item assignment.
Yes, because tuple is immutable. See the example :

In [82]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)

['Athens', 'Cairo', 'Moskow', 'Dublin']

In [83]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)

city_tuple[0] = 'New York'  # you can't assign a value

TypeError: 'tuple' object does not support item assignment

In [86]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_list[2] = 'Athens'
city_list[3] = 'Cairo'
print(city_list)

['Tokyo', 'Istanbul', 'Athens', 'Cairo']

In [87]:
#Examine the use of .index() and .count() methods of the tuples.

In [88]:
#What will be the output of this code below?

mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j])

print(len(mix_value))

AttributeError: 'tuple' object has no attribute 'append'

In [1]:
#What will be the output of this code below?

mix_value = (10, False, 'fruit', 1.618)


print(len(mix_value))

4

#Benefits of Immutability
Let's take a look at the basic advantages of tuples :

Tuples are faster and more powerful in-memory than lists. 
You should give it a thought whenever you need to deal with large amounts of data. 
If you don't want to change your data you may have to choose tuples.

Because of its immutability, the data stored in a tuple can not be altered by mistake.

A tuple can be used as a dictionary 
(we will see in the next lesson) key, while 'TypeError' can result in lists as keys. 
And this is the usefulness of tuples

In [90]:
my_list=[10,9,8,7,6,5,4,3,2,1]
my_list.sort()
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [91]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are tulip and rose, two favorite colors are blue and green."
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [92]:
#Create a list which consists of int numbers from 1 to 10 using range() function. 
#Sort the numbers of the list in descending order and print the result.

numbers = list(range(1, 11))

numbers.sort(reverse = True)

print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [93]:
#Select and print the vegetables from the following list using indexing and slicing methods. 
#Note that, except from the given list (grocer), your program must consist of a single line of code.
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]


print(grocer[1][1][1:6:2])

['eggplant', 'spinach', 'leek']

In [94]:
#Considering the following flowers and colors lists,
#write the program using .format() and list indexing methods that will print out the text below.
text = "My two favorite flowers are tulip and rose, two favorite colors are blue and green."
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]

text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])

print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [95]:
#Re-arrange the sentence using the escape sequences from the list using .format() 
#and list indexing methods to get the following output.
#Desired output :
#I am 40 years old.
    #I have two children.
        #Data Science is my IT domain.

SyntaxError: invalid syntax (<ipython-input-95-45cd6cc0b9c3>, line 4)

In [96]:
#The string variable to be arranged :

escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old. {}I have two children. {}Data Science is my IT domain.".format(escapes[0], escapes[2][1])

print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

In [ ]:
"""Task:
Find out if a given number is an "Armstrong Number".
An n-digit number that is the sum of the nth powers of its digits is called an n-Armstrong number. Examples :
371 = 33 + 73 + 13;
9474 = 94 + 44 + 74 + 44;
93084 = 95 + 35 + 05 + 85 + 45.
Write a Python program that;
takes a positive integer number from the user,
checks the entered number if it is Armstrong,
consider the negative, float and any entries other than numeric values then display a warning message to the user."""
number = input("Please enter an integer number: ")
power = len(number)
sonuc = 0
if number.startswith("-") or "." in number or "," in number or (not number.isdigit()):
    print("It is an invalid entry. Don't use non-numeric, float, or negative values!")
else:
    for i in number:
        sonuc += int(i) ** power
    if int(number) == sonuc:
        print(number + " is an Armstrong number")
    else:
        print(number + " is not an Armstrong number")